<?php

/**
 * XML Schema:
 * @title: box heading e.g. Monday, Tuesday, Wednesday ...
 * @id: should be "daily"
 * @discount: e.g. 0% 10% (optional)
 *
 * <section title="" id="daily" discount="">
 *  text/body
 * </section>
 *
 * */
try
{
    $arrBlock = array();
    $strBlockOutput = $block->getChildHtml('product.info.daily.discount');

    if ($strBlockOutput) {
        $arrBlock = json_decode($strBlockOutput, true);
    }

    if (isset($arrBlock["value"])) {
        $xmlDiscountBlocks = "<?xml version=\"1.0\" encoding=\"UTF-8\"?><root>{$arrBlock["value"]}</root>";

        $arrDiscountBlocks = new SimpleXMLElement($xmlDiscountBlocks);

        if ($arrDiscountBlocks)
        {
            foreach($arrDiscountBlocks->section as $discountBlock)
            {
                //this is not a daily discount block so skip it
                if (!isset($discountBlock['id']))
                {
                    continue;
                }

                $strDiscount = isset($discountBlock['discount']) ? $discountBlock['discount'] : null;

                echo $block->getLayout()
                    ->getBlock('ulc_partial_daily_discount')
                    ->addData([
                        'header_label' => $discountBlock['title'],
                        'discount_label' => $strDiscount,
                        'discount_description' => $discountBlock
                    ])
                    ->toHtml();
            }
        }
    }
}
catch(Exception $objError)
{
    echo "Sorry couldn't load discount info." . $objError->getMessage();
}

?>
