<?php
$arrUrl = explode("/", $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]));

$getKeyCode = count($arrUrl) - 2;
$strStoreCode = null;

if (isset($arrUrl[$getKeyCode]))
{
    $strStoreCode = $arrUrl[$getKeyCode];
}

$merchantProductBanner = $block->getBlockHtml('ulc_merchant_product_banner');
$merchantProductGallery = $block->getBlockHtml('ulc_merchant_product_gallery');
$merchantProductDailyDiscount = $block->getBlockHtml('ulc_merchant_product_daily_discount');
$merchantProductDiscount = $block->getBlockHtml('ulc_merchant_product_discount');
$merchantProductExclusion = $block->getBlockHtml('ulc_merchant_product_exclusion');
$merchantProductVideo = $block->getBlockHtml('ulc_merchant_product_video');
$merchantProductCertificate = $block->getBlockHtml('ulc_merchant_product_certificate');
$merchantGenericCarousel = $block->getBlockHtml('ulc_merchant_generic_carousel');

$objRequireLogin = $block->getBlockHtml('product.info.require_login');

$objCategory = null;

$objSku = [];


try
{
    $objManager =  \Magento\Framework\App\ObjectManager::getInstance();
    $strSku = $block->getBlockHtml('product.info.sku');

    if ($strSku)
    {
        $objSku = json_decode($strSku, true);
    }

    $product = $objManager->get('Magento\Framework\Registry')->registry('current_product');
    $arrCategories = $product->getCategoryIds();

    if ($arrCategories)
    {
        $objCategory = $objManager->create('Magento\Catalog\Model\Category')->load(end($arrCategories));
    }
}
catch(\Exception $objError)
{
    // catch
}

if ($objRequireLogin)
{
    $arrRequireLogin = json_decode($objRequireLogin, true);

    if (isset($arrRequireLogin["value"]) && $arrRequireLogin["value"] == 1)
    {
        ?>
        <script>
            window.localStorage.setItem("redirect", "<?php echo $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>");
            window.location = "/customer/account/login";
        </script>
        <?php
    }
}

?>

<div id="merchant-page-view">
<?php if (isset($_GET["product"])): ?>
    <div class="container product-view-info-page" id="product-page">
        <hr class="invisible"/>
        
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/products">Products</a></li>
                <?php if ($objCategory): ?>
                    <li><a href="/products?category=<?php echo $objCategory->getId(); ?>"><?php echo $objCategory->getName(); ?></a></li>
                <?php endif; ?>
                <li><a class="active"><?php echo $block->getBlockHtml('ulc_merchant_product_name'); ?></a></li>
            </ol>
            <h3 class="heading"><?php echo $block->getBlockHtml('ulc_merchant_product_name'); ?></h3>
        </div>

        <hr class="invisible"/>

        <div class="row">
            <div class="col-sm-5">
                <?php if (!empty($merchantProductBanner)): ?>
                    <!-- images tag as banner; @todo in setup magento install/upgrade -->
                    <div class="row-fluid clearfix" simple-slider="">
                        <?php echo $merchantProductBanner; ?>

                        <div class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox"></div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#_" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#_" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                <?php endif; ?>
            </div>
            <div class="col-sm-7">
                <!-- short description -->
                <div class="row short-desc-container">
                    <?php echo $block->getBlockHtml('ulc_merchant_product_short_description'); ?>
                    <hr class="invisible"/>
                    <h4 class="product-price"><?php echo $block->getBlockHtml('product.price.final'); ?></h4>
                    [Buy Now|<?php echo isset($objSku["value"]) ? $objSku["value"] : ""; ?>|btn_buy_now]
                </div>
            </div>
        </div>

        <hr class="invisible"/>

        <!-- description -->
        <div class="row">
            <ul class="nav nav-tabs">
                <li role="presentation" onclick="window.tabDirective()" class="active" tab-directive="" tab-target="#tab-product-description"><a>Description</a></li>
                <?php if (!empty($merchantProductGallery)): ?>
                <li role="presentation" onclick="window.tabDirective()" tab-directive="" tab-target="#tab-product-gallery"><a>Gallery</a></li>
                <?php endif; ?>
            </ul>

            <div class="row-fluid tab-container active" id="tab-product-description">
                <hr class="invisible"/>

                <?php echo $block->getBlockHtml('ulc_merchant_product_description'); ?>
            </div>

            <?php if (!empty($merchantProductGallery)): ?>
            <div class="row-fluid tab-container" id="tab-product-gallery">
                <hr class="invisible"/>

                <!-- gallery -->
                <div class="row">
                    <div class="row-fluid">
                        <div class="text-center" id="simple-gallery">
                            <?php echo $merchantProductGallery; ?>
                        </div>
                    </div>
                </div>
            </div>
            <?php endif; ?>
        </div>
    </div>
<?php else: ?>
    <?php if (!empty($merchantProductBanner)): ?>
        <!-- images tag as banner; @todo in setup magento install/upgrade -->
        <div class="row-fluid clearfix" simple-slider="">
            <?php echo $merchantProductBanner; ?>

            <div class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox"></div>

                <!-- Controls -->
                <a class="left carousel-control" href="#_" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#_" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    <?php endif; ?>

    <br/>

    <!-- merchant name -->
    <div class="row-fluid page-divider">
        <div class="container">
            <?php echo $block->getBlockHtml('ulc_merchant_product_name'); ?>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <!-- short description -->
                <div class="row">
                    <?php echo $block->getBlockHtml('ulc_merchant_product_short_description'); ?>
                </div>

                <br/>

                <!-- description -->
                <div class="row">
                    <?php echo $block->getBlockHtml('ulc_merchant_product_description'); ?>
                </div>
            </div>
            <div class="col-sm-offset-1 col-sm-4">
                <!-- contact info -->
                <div class="container-fluid">
                    <?php echo $block->getBlockHtml('ulc_merchant_product_contact_info'); ?>
                </div>

                <hr class="invisible"/>

                <!-- store hours -->
                <div class="container-fluid">
                    <?php echo $block->getBlockHtml('ulc_merchant_product_store_info'); ?>
                </div>
            </div>
        </div>

        <?php if (!empty($merchantProductGallery)): ?>
            <hr class="invisible"/>

            <!-- gallery -->
            <div class="row">
                <div class="row-fluid">
                    <h2 class="heading">Image Gallery</h2>

                    <br/>

                    <div class="text-center" id="simple-gallery">
                        <?php echo $merchantProductGallery; ?>
                    </div>
                </div>
            </div>
        <?php endif; ?>

        <?php if(!in_array($strStoreCode, ["certificates", "products_view"])): ?>
            <hr class="invisible"/>

            <div class="row">
                <h2 class="heading">Standard Discounts</h2>

                <br/>

                <?php if (!empty($merchantProductDailyDiscount)): ?>
                    <!-- daily discounts -->
                    <div class="row-fluid clearfix text-center">
                        <?php echo $merchantProductDailyDiscount; ?>
                    </div>
                <?php endif; ?>

                <?php if (!empty($merchantProductDiscount)): ?>
                    <!-- discounts -->
                    <div class="row-fluid clearfix">
                        <?php echo $merchantProductDiscount; ?>
                    </div>
                <?php endif; ?>
            </div>

            <?php if (!empty($merchantProductExclusion)): ?>
                <?php echo $merchantProductExclusion; ?>
            <?php endif; ?>

            <hr class="invisible"/>

            <?php if (!empty($merchantProductVideo)): ?>
                <?php echo $merchantProductVideo; ?>
            <?php endif; ?>

            <hr class="invisible"/>

            <?php if (!empty($merchantProductCertificate)): ?>
                <?php echo $merchantProductCertificate; ?>
            <?php endif; ?>

            <hr class="invisible"/>

            <?php if (!empty($merchantGenericCarousel)): ?>
                <?php echo $merchantGenericCarousel; ?>
            <?php endif; ?>

            <hr class="invisible"/>
        <?php endif; ?>
    </div>
<?php endif; ?>
</div>
<script>
    function TabDirective() {
        var tabs = document.querySelectorAll('[tab-directive]');

        if (!tabs.length) {
            return false;
        }

        tabs.forEach(function(tab) {
            tab.addEventListener("click", function() {
                document.querySelectorAll('[tab-directive]').forEach(function(item) {
                    item.className = "";
                });
                document.querySelectorAll('.tab-container').forEach(function(container) {
                    container.className = "tab-container";
                });

                tab.className = "active";
                document.querySelector(tab.getAttribute("tab-target")).className += " active";
            });
        });
    };

    new TabDirective();

    window.tabDirective = function() {
        new TabDirective();
    };
</script>