<?php

    /**
     * XML Schema:
     * @title: box heading
     * @name: type of box e.g. 2x2 or 3x3 or 6x6
     *
     * <section title="" name="">
     *  text/body
     * </section>
     *
     * */
    try
    {
        $arrBlock = array();
        $strBlockOutput = $block->getChildHtml('product.info.discount');

        if ($strBlockOutput) {
            $arrBlock = json_decode($strBlockOutput, true);
        }

        if (isset($arrBlock["value"])) {
            $xmlDiscountBlocks = "<?xml version=\"1.0\" encoding=\"UTF-8\"?><root>{$arrBlock["value"]}</root>";

            $arrDiscountBlocks = new SimpleXMLElement($xmlDiscountBlocks);

            if ($arrDiscountBlocks)
            {
                foreach($arrDiscountBlocks->section as $discountBlock)
                {
                    //this is a daily discount block so skip it
                    if (isset($discountBlock['id']))
                    {
                        continue;
                    }

                    if (isset($discountBlock['name']))
                    {
                        if ($discountBlock['name'] == '2x2')
                        {
                            $strBlockCode = 'ulc_partial_discount_x2';
                        }
                        else if ($discountBlock['name'] == '3x3')
                        {
                            $strBlockCode = 'ulc_partial_discount_x3';
                        }
                        else if ($discountBlock['name'] == '6x6')
                        {
                            $strBlockCode = 'ulc_partial_discount_x6';
                        }
                        else
                        {
                            $strBlockCode = 'ulc_partial_discount_x2';
                        }
                    }
                    else
                    {
                        $strBlockCode = 'ulc_partial_discount_x2';
                    }

                    echo $block->getLayout()
                        ->getBlock($strBlockCode)
                        ->addData([
                            'discount_title' => $discountBlock['title'],
                            'discount_description' => $discountBlock
                        ])
                        ->toHtml();
                }
            }
        }
    }
    catch(Exception $objError)
    {
        echo "Sorry couldn't load discount info." . $objError->getMessage();
    }

?>
