<?php
    try
    {
        // adjust also the catalog_product_view.xml -> product.carousel.[NUMBER]z
        for ($intCount = 1; $intCount <= 5; $intCount++)
        {
            if ($block->getChildHtml("product.carousel.{$intCount}"))
            {
                $content = $block->getChildHtml("product.carousel.{$intCount}");
                $dataContent = json_decode($content, true);

                $strLabel = trim($dataContent["label"]);
                $strValue = trim($dataContent["value"]);

                if ($strValue):
                    ?>
                    <div class="row">
                        <h2 class="heading"><?php echo $strLabel; ?></h2>

                        <!-- exclusions -->
                        <div class="row-fluid clearfix">
                            <div class="row-fluid clearfix" carousel-caption="">
                                <?php echo $strValue; ?>

                                <div class="carousel slide" data-ride="carousel">
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox"></div>

                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#_" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#_" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?php
                endif;
            }
        }
    }
    catch(\Exception $objError)
    {
        // block does not exists
    }
?>
