<?php
$productVideo = $block->getChildHtml('product.info.video');

if (!empty($productVideo))
{
    $productVideo = json_decode($productVideo, true);
}

if (isset($productVideo["value"])):
    ?>
    <div class="row">
        <h2 class="heading"><?php echo $productVideo["label"]; ?></h2>

        <!-- exclusions -->
        <div class="row-fluid clearfix">
            <div class="row-fluid clearfix" carousel-caption="">
                <?php echo $productVideo["value"]; ?>

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox"></div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#_" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#_" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>