<?php
    $productExclusion = $block->getChildHtml('product.info.exclusion');

    if (!empty($productExclusion))
    {
        $productExclusion = json_decode($productExclusion, true);
    }

    if (isset($productExclusion["value"])):
?>
    <div class="row">
        <h2 class="heading"><?php echo $productExclusion["label"]; ?></h2>

        <!-- exclusions -->
        <div class="row-fluid clearfix">
            <div class="row-fluid clearfix" carousel-caption="">
                <?php echo $productExclusion["value"]; ?>

                <div class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox"></div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#_" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#_" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>