<!-- m/d/y in backend format -->
<?php
    $minYear = 200;
    $startYear = date('Y') - $minYear;
    $endYear = date('Y');

    $startMonth = 1;
    $endMonth = 12;

    $startDate = 1;
    $endDate = 31;
?>
<div class="col-xs-4">
    <select name="form_input_year"
            class="form-control"
            id="input-date-year">
        <?php for ($startYear; $startYear <= $endYear; $startYear++): ?>
            <option <?php echo $endYear == $startYear ? 'selected="selected"' : ''; ?> value="<?php echo $startYear; ?>"><?php echo $startYear; ?></option>
        <?php endfor; ?>
    </select>
    <small class="help-block">year</small>
</div>
<div class="col-xs-4">
    <select name="form_input_month"
            class="form-control"
            id="input-date-month">
        <?php for ($startMonth; $startMonth <= $endMonth; $startMonth++): ?>
            <option <?php echo $endMonth == $startMonth ? 'selected="selected"' : ''; ?> value="<?php echo $startMonth; ?>"><?php echo $startMonth; ?></option>
        <?php endfor; ?>
    </select>
    <small class="help-block">month</small>
</div>
<div class="col-xs-4">
    <select name="form_input_date"
            class="form-control"
            id="input-date-date">
        <?php for ($startDate; $startDate <= $endDate; $startDate++): ?>
            <option <?php echo $endDate == $startDate ? 'selected="selected"' : ''; ?> value="<?php echo $startDate; ?>"><?php echo $startDate; ?></option>
        <?php endfor; ?>
    </select>
    <small class="help-block">date</small>
</div>

<input type="hidden" id="input-birthday" name="form_input_birthday">