<form method="post" action="<?php echo $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>">
    <div class="form-group">
        <label for="input-fullname" class="control-label">Full Name</label>
        <?php echo $block->getBlockHtml('ulc_form_input_fullname'); ?>
    </div>

    <div class="form-group">
        <label for="input-email" class="control-label">Email</label>
        <?php echo $block->getBlockHtml('ulc_form_input_email'); ?>
    </div>

    <div class="form-group">
        <label for="input-mobilenumber" class="control-label">Mobile No.</label>
        <?php echo $block->getBlockHtml('ulc_form_input_mobile'); ?>
    </div>

    <div class="form-group">
        <label for="input-message" class="control-label">Message</label>
        <?php echo $block->getBlockHtml('ulc_form_input_message'); ?>
    </div>

    <div class="form-group">
        <?php echo $block->getBlockHtml('ulc_form_input_submit'); ?>
    </div>
</form>