<?php
    try
    {
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

        $objCountryHelper = $objectManager->get('Magento\Directory\Model\Config\Source\Country');
        $objCountryFactory = $objectManager->get('Magento\Directory\Model\CountryFactory');

        $arrCountries = $objCountryHelper->toOptionArray(); //Load an array of countries
    }
    catch(Exception $objError)
    {
        $arrCountries = [];
    }
?>

<select name="form_input_country"
        class="form-control"
        id="input-country">
    <?php foreach ($arrCountries as $arrCountry): ?>
    <option value="<?php echo $arrCountry['value']; ?>"><?php echo $arrCountry['label']; ?></option>
    <?php endforeach; ?>
</select>