<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// @codingStandardsIgnoreFile

?>
<div class="container">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="form-wrap">
            <hr class="invisible"/>
            <hr class="invisible"/>
            <h2 class="heading text-center" id="forgot-heading">Forgot Password</h2>

            <form class="form password forget"
                  action="<?php /* @escapeNotVerified */ echo $block->getUrl('*/*/forgotpasswordpost') ?>"
                  method="post"
                  id="form-validate"
                  data-mage-init='{"validation":{}}'>
                <fieldset class="fieldset" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                    <div class="field note"><?php /* @escapeNotVerified */ echo __('Please enter your email address below to receive a password reset link.'); ?></div>
                    <div class="field email required">
                        <label for="email_address" class="label"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                        <div class="form-group">
                            <input type="email"
                                   name="email"
                                   alt="email"
                                   id="email_address"
                                   class="input-text form-control"
                                   value="<?php echo $block->escapeHtml($block->getEmailValue()) ?>"
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                </fieldset>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" class="btn-block btn-success btn">
                            <span><?php /* @escapeNotVerified */ echo __('Reset My Password') ?></span>
                        </button>
                    </div>
                    <div class="secondary">
                        <hr class="invisible"/>
                        <a class="action back" href="<?php /* @escapeNotVerified */ echo $block->getLoginUrl() ?>">
                            <small><?php /* @escapeNotVerified */ echo __('Go back') ?></small>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
<style>
    #forgot-heading {
        font-size: 36px;
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
</style>
