<label class="radio-inline">
    <input type="radio" id="input-gender" name="form_input_gender" value="M"> Male
</label>
<label class="radio-inline">
    <input type="radio" name="form_input_gender" value="F"> Female
</label>