<form method="post" action="<?php echo $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>">
    <div class="form-group">
        <label for="input-username" class="control-label">Email / Membership No.</label>
        <?php
            echo $this->getLayout()->getBlock('ulc_form_textbox')->setData([
                'name' => 'form_input_username',
                'id' => 'input-username',
                'placeholder' => 'Enter Email / Membership No.'
            ])->toHtml();
        ?>
    </div>

    <div class="form-group">
        <label for="input-password" class="control-label">Password</label>
        <?php echo $block->getBlockHtml('ulc_form_input_password'); ?>
    </div>

    <div class="form-group">
        <label><small><a href="#">I forgot my password</a></small></label>
    </div>

    <div class="form-group">
        <?php echo $block->getBlockHtml('ulc_form_input_submit'); ?>
    </div>
</form>