<?php
    if (isset($_SESSION["ulc_customer"])) {
?>
<script>
    window.location = "/events";
</script>
<?php
    }
?>

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="form-wrap">
                <hr class="invisible"/>
                <hr class="invisible"/>
                <h2 class="heading text-center" id="login-heading">Member Login</h2>

                <form method="post" id="login-form" autocomplete="off">
                    <div class="form-group">
                        <label for="membership_card">Email or Card Number</label>
                        <input name="membership_card"
                               id="membership_card"
                               class="form-control"
                               placeholder="Enter your email or membership card number">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password"
                               name="password"
                               id="password"
                               class="form-control"
                               placeholder="&bull;&bull;&bull;&bull;&bull;&bull;"/>
                    </div>
                    <div class="form-group">
                        <span style="display: inline-block; vertical-align: middle">
                            <span id="show-customer-login-loader" class="hidden">
                                <img src="<?php echo $this->getViewFileUrl('images/preloader.gif'); ?>" alt="" class="img-responsive"/>
                            </span>
                        </span>
                        <button type="button"
                                class="btn btn-success btn-block"
                                id="btn-login">Login</button>
                    </div>
                </form>

                <hr class="invisible"/>

                <div class="text-center">
                    <a href="/customer/account/forgotpassword">
                        <small>I forgot my password</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div> <!-- /.row -->
</div>
<style>
    #login-heading {
        font-size: 36px;
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
</style>
<script>
    (function() {
        'use strict';

        var init = function () {
            var loading;

            document.getElementById('btn-login').onclick = function() {
                var self = this;
                var username = document.getElementById('membership_card').value.replace(/ /ig, '');
                var password = document.getElementById('password').value.replace(/ /ig, '');

                if (!username || !password) {
                    alert("Card number and password are required");

                    return;
                }

                if (loading === true) {
                    return;
                }

                document.getElementById('show-customer-login-loader').className = 'show';
                this.disabled = true;

                loading = true;

                var xhr = new XMLHttpRequest();

                xhr.onreadystatechange = function() {
                    if (this.readyState === 4) {
                        self.disabled = false;

                        document.getElementById('show-customer-login-loader').className = 'hidden';

                        loading = false;

                        if (this.status === 200) {
                            if (window.localStorage && window.localStorage.getItem("redirect")) {
                                window.location = window.localStorage.getItem("redirect");
                            } else {
                                window.location = "/events";
                            }
                        } else {
                            alert("Combination of card number and password did not match.");
                        }
                    }
                };

                xhr.open("POST", "/member/auth/login", true);

                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                xhr.send("membership_card=" + document.getElementById('membership_card').value + "&password=" + document.getElementById('password').value);
            };
        };

        window.addEventListener("load", init);
    })();
</script>