<?php

/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Resetpassword $block */

$arrMessage = [];

if (isset($_COOKIE["mage-messages"]))
{
    $messages = json_decode($_COOKIE["mage-messages"], true);

    if ($messages)
    {
        foreach ($messages as $message)
        {
            if ($message["type"] === "error")
            {
                $arrMessage[] = $message["text"];
            }
        }
    }
}

?>

<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="form-wrap">
                <hr class="invisible"/>
                <hr class="invisible"/>
                <h2 class="heading text-center" id="new-password-heading">Set a New Password</h2>

                <div class="container-fluid">
                    <?php if ($arrMessage): ?>
                    <div class="alert alert-danger">
                        <?php foreach ($arrMessage as $message): ?>
                            <p><?php echo $message; ?></p>
                        <?php endforeach; ?>
                    </div>
                    <?php endif; ?>
                </div>

                <form action="<?php /* @escapeNotVerified */ echo $block->getUrl('*/*/resetpasswordpost', ['_query' => ['id' => $block->getCustomerId(), 'token' => $block->getResetPasswordLinkToken()]]); ?>"
                      method="post"
                    <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?>
                      id="form-validate"
                      class="form password reset">
                    <fieldset class="form-group">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="label" for="password">New Password</label>

                                <input type="password"
                                       class="input-text form-control"
                                       name="password"
                                       required=""
                                       id="password"
                                       placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                                       autocomplete="off"/>

                                <?php if ($block->getMinimumPasswordLength()): ?>
                                <small class="help-block">Minimum character length: <?php echo $block->escapeHtml($block->getMinimumPasswordLength()); ?></small>
                                <?php endif; ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="label" for="password-confirmation">Confirm New Password</label>

                                <input type="password"
                                       class="input-text form-control"
                                       name="password_confirmation"
                                       id="password-confirmation"
                                       required=""
                                       autocomplete="off"/>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-success btn-block">Set a New Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<style>
    .form-group .label {
        color: #000;
    }

    #new-password-heading {
        font-size: 36px;
    }

    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
</style>
<?php

unset($_COOKIE["mage-messages"]);

setcookie("mage-messages", "", 0, "/");

?>