<form class="form-horizontal">
    <legend class="text-warning">
        <h5>PERSONAL INFORMATION</h5>
    </legend>

    <!-- lastname -->
    <div class="form-group">
        <label for="input-lastname" class="control-label col-sm-5 col-md-5">Family Name/Surname*</label>
        <div class="col-sm-7 col-md-7">
            <?php echo $block->getBlockHtml('ulc_form_input_lastname'); ?>
        </div>
    </div>

    <!-- firstname -->
    <div class="form-group">
        <label for="input-firstname" class="control-label col-sm-5 col-md-5">First Name/Given Name*</label>
        <div class="col-sm-7 col-md-7">
            <?php echo $block->getBlockHtml('ulc_form_input_firstname'); ?>
        </div>
    </div>

    <!-- DOB -->
    <div class="form-group">
        <label for="input-date-year" class="control-label col-sm-5 col-md-5">Date of Birth*</label>
        <div class="col-md-7 col-sm-7">
            <div class="row">
                <?php echo $block->getBlockHtml('ulc_form_radio_birthday'); ?>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- gender -->
    <div class="form-group">
        <label for="input-gender" class="control-label col-sm-5 col-md-5">Gender*</label>
        <div class="col-sm-7 col-md-7">
            <?php echo $block->getBlockHtml('ulc_form_radio_gender'); ?>
        </div>
    </div>

    <hr class="invisible"/>

    <legend class="text-warning">
        <h5>CONTACT INFORMATION</h5>
    </legend>

    <!-- email -->
    <div class="form-group">
        <label for="input-email" class="control-label col-sm-5 col-md-5">Email*</label>
        <div class="col-sm-7 col-md-7">
            <?php echo $block->getBlockHtml('ulc_form_input_email'); ?>
        </div>
    </div>

    <!-- phone -->
    <div class="form-group">
        <label for="input-phone" class="control-label col-sm-5 col-md-5">Phone No.*</label>
        <div class="col-sm-7 col-md-7">
            <?php echo $block->getBlockHtml('ulc_form_input_phone'); ?>
        </div>
    </div>

    <!-- mobile -->
    <div class="form-group">
        <label for="input-mobilenumber" class="control-label col-sm-5 col-md-5">Mobile No.*</label>
        <div class="col-sm-7 col-md-7">
            <?php echo $block->getBlockHtml('ulc_form_input_mobile'); ?>
        </div>
    </div>

    <!-- country -->
    <div class="form-group">
        <label for="input-country" class="control-label col-sm-5 col-md-5">Country*</label>
        <div class="col-sm-7 col-md-7">
            <?php echo $block->getBlockHtml('ulc_form_input_country'); ?>
        </div>
    </div>

    <!-- address -->
    <div class="form-group">
        <label for="input-address" class="control-label col-sm-5 col-md-5">Street Address*</label>
        <div class="col-sm-7 col-md-7">
            <?php echo $block->getBlockHtml('ulc_form_input_address'); ?>
        </div>
    </div>

    <!-- city -->
    <div class="form-group">
        <label for="input-city" class="control-label col-sm-5 col-md-5">City*</label>
        <div class="col-sm-7 col-md-7">
            <?php echo $block->getBlockHtml('ulc_form_input_city'); ?>
        </div>
    </div>

    <!-- zip -->
    <div class="form-group">
        <label for="input-postalzip" class="control-label col-sm-5 col-md-5">Postal/Zip Code*</label>
        <div class="col-sm-7 col-md-7">
            <?php echo $block->getBlockHtml('ulc_form_input_postalzip'); ?>
        </div>
    </div>

    <!-- agreement cms block -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-md-offset-2 col-sm-10 col-md-10">
            <div class="checkbox">
                <label>
                    <input id="accept-agreement" type="checkbox">
                    <small>
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('membership.agreement')->toHtml(); ?>
                        <?php /* By ticking this checkbox, I explicitly consent to the ULC and the Parties collecting, using and/or disclosing my personal data for the purpose of providing me with information on the Company's goods and services (including news, promotions, offers, event invites and other marketing updates) via postal mail, email, text messaging and/or telephone call. */ ?>
                    </small>
                </label>
            </div>
        </div>
    </div>

    <!-- terms cms block -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-md-offset-2 col-sm-10 col-md-10">
            <div class="checkbox">
                <label>
                    <input id="accept-term" type="checkbox">
                    <small>
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('membership.term')->toHtml(); ?>
                        <?php /* <p>I declare that: <br /><br /></p>
<ol>
<li><p>I am at least 18 years of age.</p></li>
<li><p>I understand and agree that membership shall be in accordance with the Ultimate Lifestyle Card programme Terms and Conditions.</p></li>
<li>
<p>I give my consent for The Ultimate Lifestyle Card (ULC), Llione Mint International Incorporated or any of its related companies (the 'Company'), the Company's agents and third party service providers and governmental and regulatory authorities (collectively, the 'Parties') to collect, use, store and/or disclose to the Parties my personal data provided to ULC from time to time (the 'Data') for the following purposes.</p>
<ul>
<li><p>a) Managing and dealing with (including contacting me via telephone call, text message, email and/or postal mail regarding) updates, customer service and any matter relating to my membership programme, and the Company's legal, operational and business neeeds including conducting surveys, data analytics, profiling, research and development activities to improve the Company's infrstructure, benefits and facilities so as to enchance your experince with us;</p></li>
<li><p>b) Complying with or as required by the Company's internal policies or any applicable law, regulation, guidelines, notices, request or direction issued by any applicable regulatory or governmental authorities of any relevant jurisdiction that is binding on the Company; and</p></li>
<li><p>c) Acting in accordance with the prevailing ULC's privacy policy (see http://www.theultimatelifestylecard.com/privacy-policy.html).</p></li>
</ul>
</li>
<li><p>I warrant that all information provided by me in connection with this application is true, accurate and complete and that I am the user and/or subscriber of the telephone number(s) provided by me above.</p></li>
</ol> */ ?>
                    </small>
                </label>
            </div>
        </div>
    </div>

    <div class="partner-group">
        <legend class="text-warning">
            <h5>PARTNER CODE (Optional)</h5>
        </legend>

        <!-- partner code -->
        <div class="form-group">
            <label for="input-lastname"
                   class="control-label col-sm-5 col-md-5">Partner Code</label>
            <div class="col-sm-7 col-md-7">
                <?php
                echo $block->getLayout()
                    ->getBlock("ulc_form_textbox")
                    ->addData([
                        'name' => "partner_code",
                        'id' => "partner_code",
                        'placeholder' => "Partner Code - Optional"
                    ])
                    ->toHtml();
                ?>
            </div>
        </div>
    </div>

    <div class="distributor-partner-group">
        <legend class="text-warning">
            <h5>DISTRIBUTOR PARTNER CODE (Optional)</h5>
        </legend>

        <!-- partner code -->
        <div class="form-group">
            <label for="input-lastname"
                   class="control-label col-sm-5 col-md-5">Partner Code</label>
            <div class="col-sm-7 col-md-7">
                <?php
                echo $block->getLayout()
                    ->getBlock("ulc_form_textbox")
                    ->addData([
                        'name' => "input_distributor_partner_code",
                        'id' => "input_distributor_partner_code",
                        'placeholder' => "Partner Code - Optional"
                    ])
                    ->toHtml();
                ?>
            </div>
        </div>
    </div>

    <div class="form-group text-center">
        <?php echo $block->getBlockHtml('ulc_form_paymaya_button'); ?>

        <?php if ($block->getDistributor() === true): ?>
            <button id="btn-submit-paysaved-distributor"
                    class="btn btn-success"
                    type="button">Pay via PaySaved</button>
        <?php else: ?>
            <?php echo $block->getBlockHtml('ulc_form_paysaved_button'); ?>
        <?php endif; ?>
    </div>
</form>

<input type="hidden" id="input-distributor-price" value="<?php echo $block->getBlockHtml('ulc_distributor_card_price'); ?>" readonly />
<input type="hidden" id="input-membership-price" value="<?php echo $block->getBlockHtml('ulc_membership_card_price'); ?>" readonly />
<input type="hidden" id="input-company-name" value="<?php echo $block->getBlockHtml('ulc_store_name') ?: 'The Ultimate Lifestyle Card'; ?>" readonly />
<input type="hidden" id="input-company-logo" value="<?php echo $this->getViewFileUrl('images/small-logo.png'); ?>" readonly />
<input type="hidden" id="input-merchant-key" value="<?php echo \XhapeSolutions\MembershipOrder\Controller\Order\Create::getMagpiePublicKey(); ?>" readonly />
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     id="payment-status-modal"
     tabindex="-1" role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-action-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Payment <span id="payment-header-status"></span>
            </div>
            <div class="modal-body" id="payment-status">
                <div class="row-fluid">
                    <div class="text-center">
                        <img src="<?php echo $this->getViewFileUrl('images/home/infinity.gif'); ?>" id="modal-loader" alt=""/>
                    </div>
                    <div class="alert alert-success hidden">
                        <p class="lead">
                            <span class="glyphicon glyphicon-ok"></span>
                            Thank you for choosing us. We will now process your membership shortly.
                        </p>
                        <br/>
                        <p class="lead">
                            <small>
                                <em>
                                    If you have question regarding your payment just email us your Order Reference No. <span id="payment-id"></span>
                                </em>
                            </small>
                        </p>
                    </div>

                    <div class="alert alert-danger hidden">
                        <p>
                            <span class="glyphicon glyphicon-remove"></span>
                            Sorry we couldn't process your payment. Please try again.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-action-btn">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>