<?php

    if (!isset($_GET["sku"]))
    {
?>
    <script>
        window.location = "/become-a-member";
    </script>
<?php
        die();
    }

    $intGroup = 1;
    $strProductName = "";
    $strPrice = "";

    try
    {
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

        $objCountryHelper = $objectManager->get('Magento\Directory\Model\Config\Source\Country');
        $objCountryFactory = $objectManager->get('Magento\Directory\Model\CountryFactory');

        $arrCountries = $objCountryHelper->toOptionArray(); //Load an array of countries

        $objManager = \Magento\Framework\App\ObjectManager::getInstance();
        $objProduct = $objManager->create('Magento\Catalog\Model\Product');
        $objProduct->load($objProduct->getIdBySku($_GET["sku"]));

        $intGroup = $objProduct->getNumberOfCards();
        $strProductName = $objProduct->getName();

        $objPriceHelper = $objectManager->create('\Magento\Framework\Pricing\Helper\Data');
        $strPrice = $objPriceHelper->currency($objProduct->getPrice(), true, false);
    }
    catch(Exception $objError)
    {
        $arrCountries = [];
    }
?>

<div class="container">
    <br/>
    <br/>
    <input type="hidden" id="card" value="<?php echo $_GET["sku"]; ?>"/>
    <h3><?php echo $strProductName; ?> - <?php echo $strPrice; ?></h3>
    <br/>

    <form class="form-horizontal" id="multiple-form">
        <?php for ($intCount = 1; $intCount <= $intGroup; $intCount++): ?>
            <?php
                $index = $intCount - 1;

                $minYear = 200;
                $startYear = date('Y') - $minYear;
                $endYear = date('Y');

                $startMonth = 1;
                $endMonth = 12;

                $startDate = 1;
                $endDate = 31;
            ?>
            <legend class="text-warning">
                <h3>MEMBER <?php echo $intCount === 1 ? "{$intCount} - (Main Contact)" : $intCount; ?></h3>
            </legend>

            <br/>

            <legend class="text-warning">
                <h5>PERSONAL INFORMATION</h5>
            </legend>

            <!-- lastname -->
            <div class="form-group">
                <label for="input-lastname_<?php echo $index; ?>"
                       class="control-label col-sm-4 col-md-4">Family Name/Surname*</label>
                <div class="col-sm-5 col-md-5">
                    <input name="lastName[<?php echo $index; ?>]"
                           class="form-control"
                           id="input-lastname_<?php echo $index; ?>"
                           maxlength="45"
                           hint-id="input-lastname"
                           placeholder="Enter Last Name"
                           value="<?php echo $block->escapeHtml($block->getPostValue('form_input_lastname')[$index]) ?>"/>
                </div>
            </div>

            <!-- firstname -->
            <div class="form-group">
                <label for="input-firstname_<?php echo $index; ?>"
                       class="control-label col-sm-4 col-md-4">First Name/Given Name*</label>
                <div class="col-sm-5 col-md-5">
                    <input name="firstName[<?php echo $index; ?>]"
                           class="form-control"
                           id="input-firstname_<?php echo $index; ?>"
                           maxlength="45"
                           hint-id="input-firstname"
                           placeholder="Enter First Name"
                           value="<?php echo $block->escapeHtml($block->getPostValue('form_input_firstname')[$index]) ?>"/>
                </div>
            </div>

            <!-- DOB -->
            <div class="form-group">
                <label for="input-date-year_<?php echo $index; ?>"
                       class="control-label col-sm-4 col-md-4">Date of Birth*</label>
                <div class="col-md-5 col-sm-5">
                    <div class="row">
                        <div class="col-xs-4">
                            <select id="input-date-year_<?php echo $index; ?>"
                                    hint-id="input-date-year"
                                    class="form-control input-date-year">
                                <?php for ($startYear; $startYear <= $endYear; $startYear++): ?>
                                    <option <?php echo $endYear == $startYear ? 'selected="selected"' : ''; ?> value="<?php echo $startYear; ?>"><?php echo $startYear; ?></option>
                                <?php endfor; ?>
                            </select>
                            <small class="help-block">year</small>
                        </div>
                        <div class="col-xs-4">
                            <select class="form-control input-date-month"
                                    id="input-date-month_<?php echo $index; ?>">
                                <?php for ($startMonth; $startMonth <= $endMonth; $startMonth++): ?>
                                    <option <?php echo $endMonth == $startMonth ? 'selected="selected"' : ''; ?> value="<?php echo $startMonth; ?>"><?php echo $startMonth; ?></option>
                                <?php endfor; ?>
                            </select>
                            <small class="help-block">month</small>
                        </div>
                        <div class="col-xs-4">
                            <select class="form-control input-date-date"
                                    id="input-date-date_<?php echo $index; ?>">
                                <?php for ($startDate; $startDate <= $endDate; $startDate++): ?>
                                    <option <?php echo $endDate == $startDate ? 'selected="selected"' : ''; ?> value="<?php echo $startDate; ?>"><?php echo $startDate; ?></option>
                                <?php endfor; ?>
                            </select>
                            <small class="help-block">date</small>
                        </div>

                        <input type="hidden" id="input-birthday_<?php echo $index; ?>" name="birthday[<?php echo $index; ?>]">
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>

            <!-- gender -->
            <div class="form-group">
                <label for="input-gender_<?php echo $index; ?>"
                       class="control-label col-sm-4 col-md-4">Gender*</label>
                <div class="col-sm-5 col-md-5">
                    <label class="radio-inline">
                        <input type="radio"
                               id="input-gender_<?php echo $index; ?>"
                               hint-id="input-gender"
                               name="gender[<?php echo $index; ?>]"
                               value="M"> Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio"
                               name="gender[<?php echo $index; ?>]"
                               value="F"> Female
                    </label>
                </div>
            </div>

            <hr class="invisible"/>

            <legend class="text-warning">
                <h5>CONTACT INFORMATION</h5>
            </legend>

            <!-- email -->
            <div class="form-group">
                <label for="input-email_<?php echo $index; ?>"
                       class="control-label col-sm-4 col-md-4">Email*</label>
                <div class="col-sm-5 col-md-5">
                    <input type="email"
                           name="email[<?php echo $index; ?>]"
                           class="form-control"
                           hint-id="input-email"
                           id="input-email_<?php echo $index; ?>"
                           placeholder="Email"
                           value="<?php echo $block->escapeHtml($this->getRequest()->getParam('form_input_email')[$index]); ?>"/>
                </div>
            </div>

            <!-- phone -->
            <div class="form-group">
                <label for="input-phone_<?php echo $index; ?>"
                       class="control-label col-sm-4 col-md-4">Phone No.*</label>
                <div class="col-sm-5 col-md-5">
                    <input name="phoneNumber[<?php echo $index; ?>]"
                           class="form-control"
                           hint-id="input-phone"
                           id="input-phone_<?php echo $index; ?>"
                           placeholder="Enter Phone Number"
                           value="<?php echo $block->escapeHtml($block->getPostValue('form_input_phone')[$index]) ?>"/>
                </div>
            </div>

            <!-- mobile -->
            <div class="form-group">
                <label for="input-mobilenumber_<?php echo $index; ?>"
                       class="control-label col-sm-4 col-md-4">Mobile No.*</label>
                <div class="col-sm-5 col-md-5">
                    <input name="mobileNumber[<?php echo $index; ?>]"
                           class="form-control"
                           hint-id="input-mobilenumber"
                           id="input-mobilenumber_<?php echo $index; ?>"
                           placeholder="Enter Mobile Number"
                           value="<?php echo $block->escapeHtml($block->getPostValue('form_input_mobilenumber')[$index]) ?>"/>
                </div>
            </div>

            <!-- country -->
            <div class="form-group">
                <label for="input-country_<?php echo $index; ?>"
                       class="control-label col-sm-4 col-md-4">Country*</label>
                <div class="col-sm-5 col-md-5">
                    <select name="country[<?php echo $index; ?>]"
                            class="form-control"
                            hint-id="input-country"
                            id="input-country_<?php echo $index; ?>">
                        <?php foreach ($arrCountries as $arrCountry): ?>
                            <option value="<?php echo $arrCountry['value']; ?>"><?php echo $arrCountry['label']; ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>

            <!-- address -->
            <div class="form-group">
                <label for="input-address_<?php echo $index; ?>"
                       class="control-label col-sm-4 col-md-4">Street Address*</label>
                <div class="col-sm-5 col-md-5">
                    <input name="address[<?php echo $index; ?>]"
                           class="form-control"
                           hint-id="input-address"
                           id="input-address_<?php echo $index; ?>"
                           maxlength="150"
                           placeholder="Enter Street Address"
                           value="<?php echo $block->escapeHtml($block->getPostValue('form_input_address')[$index]) ?>"/>
                </div>
            </div>

            <!-- city -->
            <div class="form-group">
                <label for="input-city_<?php echo $index; ?>"
                       class="control-label col-sm-4 col-md-4">City*</label>
                <div class="col-sm-5 col-md-5">
                    <input name="city[<?php echo $index; ?>]"
                           class="form-control"
                           hint-id="input-city"
                           id="input-city_<?php echo $index; ?>"
                           maxlength="100"
                           placeholder="Enter City"
                           value="<?php echo $block->escapeHtml($block->getPostValue('form_input_city')[$index]) ?>"/>
                </div>
            </div>

            <!-- zip -->
            <div class="form-group">
                <label for="input-postalzip_<?php echo $index; ?>"
                       class="control-label col-sm-4 col-md-4">Postal/Zip Code*</label>
                <div class="col-sm-5 col-md-5">
                    <input name="postalCode[<?php echo $index; ?>]"
                           class="form-control"
                           hint-id="input-postalzip"
                           id="input-postalzip_<?php echo $index; ?>"
                           maxlength="20"
                           placeholder="Enter Postal/Zip Code"
                           value="<?php echo $block->escapeHtml($block->getPostValue('form_input_postal_zip_code')[$index]) ?>"/>
                </div>
            </div>
        <?php endfor; ?>

        <!-- agreement cms block -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-md-offset-2 col-sm-10 col-md-10">
                <div class="checkbox">
                    <label>
                        <input id="accept-agreement" type="checkbox">
                        <small>
                            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('membership.agreement')->toHtml(); ?>
                            <?php /* By ticking this checkbox, I explicitly consent to the ULC and the Parties collecting, using and/or disclosing my personal data for the purpose of providing me with information on the Company's goods and services (including news, promotions, offers, event invites and other marketing updates) via postal mail, email, text messaging and/or telephone call. */ ?>
                        </small>
                    </label>
                </div>
            </div>
        </div>

        <!-- terms cms block -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-md-offset-2 col-sm-10 col-md-10">
                <div class="checkbox">
                    <label>
                        <input id="accept-term" type="checkbox">
                        <small>
                            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('membership.term')->toHtml(); ?>
                            <?php /* <p>I declare that: <br /><br /></p>
<ol>
<li><p>I am at least 18 years of age.</p></li>
<li><p>I understand and agree that membership shall be in accordance with the Ultimate Lifestyle Card programme Terms and Conditions.</p></li>
<li>
<p>I give my consent for The Ultimate Lifestyle Card (ULC), Llione Mint International Incorporated or any of its related companies (the 'Company'), the Company's agents and third party service providers and governmental and regulatory authorities (collectively, the 'Parties') to collect, use, store and/or disclose to the Parties my personal data provided to ULC from time to time (the 'Data') for the following purposes.</p>
<ul>
<li><p>a) Managing and dealing with (including contacting me via telephone call, text message, email and/or postal mail regarding) updates, customer service and any matter relating to my membership programme, and the Company's legal, operational and business neeeds including conducting surveys, data analytics, profiling, research and development activities to improve the Company's infrstructure, benefits and facilities so as to enchance your experince with us;</p></li>
<li><p>b) Complying with or as required by the Company's internal policies or any applicable law, regulation, guidelines, notices, request or direction issued by any applicable regulatory or governmental authorities of any relevant jurisdiction that is binding on the Company; and</p></li>
<li><p>c) Acting in accordance with the prevailing ULC's privacy policy (see http://www.theultimatelifestylecard.com/privacy-policy.html).</p></li>
</ul>
</li>
<li><p>I warrant that all information provided by me in connection with this application is true, accurate and complete and that I am the user and/or subscriber of the telephone number(s) provided by me above.</p></li>
</ol> */ ?>
                        </small>
                    </label>
                </div>
            </div>
        </div>

        <legend class="text-warning">
            <h5>PARTNER CODE (Optional)</h5>
        </legend>

        <!-- partner code -->
        <div class="form-group">
            <label for="input-lastname"
                   class="control-label col-sm-4 col-md-4">Partner Code</label>
            <div class="col-sm-5 col-md-5">
                <?php
                echo $block->getLayout()
                    ->getBlock("ulc_form_textbox")
                    ->addData([
                        'name' => "partner_code",
                        'id' => "partner_code",
                        'placeholder' => "Partner Code - Optional"
                    ])
                    ->toHtml();
                ?>
            </div>
        </div>

        <div class="form-group text-center">
            <?php echo $block->getBlockHtml('ulc_form_paymaya_button'); ?>
            <?php echo $block->getBlockHtml('ulc_form_paysaved_button'); ?>
        </div>
    </form>
</div>

<input type="hidden" id="group_count" value="<?php echo $intGroup; ?>" readonly>
<div class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     id="payment-status-modal"
     tabindex="-1" role="dialog">
    <div class="modal-dialog"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-action-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Payment <span id="payment-header-status"></span>
            </div>
            <div class="modal-body" id="payment-status">
                <div class="row-fluid">
                    <div class="text-center">
                        <img src="<?php echo $this->getViewFileUrl('images/home/infinity.gif'); ?>" id="modal-loader" alt=""/>
                    </div>
                    <div class="alert alert-success hidden">
                        <p class="lead">
                            <span class="glyphicon glyphicon-ok"></span>
                            Thank you for choosing us. We will now process your membership shortly.
                        </p>
                        <br/>
                        <p class="lead">
                            <small>
                                <em>
                                    If you have question regarding your payment just email us your Order Reference No. <span id="payment-id"></span>
                                </em>
                            </small>
                        </p>
                    </div>

                    <div class="alert alert-danger hidden">
                        <p>
                            <span class="glyphicon glyphicon-remove"></span>
                            Sorry we couldn't process your payment. Please try again.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal-action-btn">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>