<div id="about-page" class="row-fluid clearfix">
    <div class="col-md-1 col-sm-1"></div>

    <div class="col-md-6 col-sm-11 left-container">
        <hr class="invisible"/>

        <h2 class="heading">About Us</h2>

        <p class="lead">
            Welcome to <?php echo $block->getBlockHtml('ulc_store_name'); ?>, the only fully comprehensive Lifestyle Membership card in the Philippines.
        </p>
        <p class="lead">
            <?php echo $block->getBlockHtml('ulc_store_name'); ?> is proudly owned and operated by Llione Mint International. Inc, which is locally owned Philippine based marketing company, www.llionemintinternational.com.
        </p>
        <p class="lead">
            We have created and designed <?php echo $block->getBlockHtml('ulc_store_name'); ?> so everyone can enjoy and experience what it is like to have a membership card that can give them true overwhelming value and can save them money.
        </p>
        <p class="lead">
            A membership card that everyone can afford and one that everyone will be able to use in their daily lives.
        </p>
        <p class="lead">
            There are many membership cards available but most restrict their members to limited choices in selected outlets, venues, categories and offer standard membership benefits.
            Therefore, we have designed <?php echo $block->getBlockHtml('ulc_store_name'); ?> so that our members will have unlimited flexibility in choices of merchants and services,
            which will accommodate their lifestyle needs on a daily basis.
        </p>
        <p class="lead">
            In fact, we have designed the membership card so it has very little restrictions and will accommodate most, if not all our members&rsquo; lifestyle needs and choices.
        </p>

        <h2 class="heading">Membership Benefits</h2>

        <p class="lead">
            You will enjoy the exclusively that our Lifestyle Card offers in: Food &amp; Beverages, Health &amp; Wellness, Travel &amp; Leisure, Hotel &amp; Accommodation, Entertainment &amp; Events, Education &amp; Learning Centers, Medical &amp; Cosmetics Cinics, Specialty Stores &amp; Boutiques, Pharmacy, Electronics &amp; Gadgets, Appliances, E-Commerce, Accessories &amp; Services.
        </p>
        <p class="lead">
            Aside from availing exclusive discount from our participating merchants, our members will also be able to purchase items online and enjoy their services.
        </p>
        <p class="lead">
            To enhance and give more value to our membership, we will always be updating our membership benefits and privileges on a monthly basis and we will adding international travel and accommodation benefits later in the year.
        </p>

        <h2 class="heading">Logo &amp; Design</h2>

        <p class="lead">
            Our Infinity Logo represents that our membership benefits are limitless, and we will be adding more merchants, benefits and promotions each month so <?php echo $block->getBlockHtml('ulc_store_name'); ?> is a card that grows with you.
        </p>

        <h2 class="heading">Tailored for our Members</h2>

        <p class="lead">
            Our slogan &ldquo;Especially For You&rdquo; is because this membership was designed for You, Our members.
        </p>
        <p class="lead">
            We empower, our members to participate and help us improve our membership, so if our members want us to add additional membership categories or specific merchants, then <a href="/customer-service">contact us</a> and we will do our best to include them in our membership benefits.
        </p>

        <h2 class="heading">A message from the CEO</h2>

        <p class="lead">
            For the past 17 years, I have been working all around the world managing Loyalty membership programs, however I am yet to see a membership card that is truly a Lifestyle membership card and can cater to all a members&rsquo; lifestyle needs.
        </p>
        <p class="lead">
            The Traditional Membership card that is in the market right now have many limitations and restrictions and they mainly offer the standard membership benefits, which are limited to food &amp; beverage, accommodation, gym, spas or other benefits normally associated with hotels or restaurants.
        </p>
        <p class="lead">
            The membership price is always far too high and most memberships come with a variety of certificates that many members don&rsquo;t want, utilize or run out of time to use them.
        </p>
        <p class="lead">
            Our company&rsquo;s goal was to create a membership card that everyone can easily afford, one that our members can use in their daily lives, and can save them money.
        </p>
        <p class="lead">
            We want a membership card that offers True Value and not Perceived Value, and one that can continue to grow each year with our members&rsquo; lifestyle changes.
        </p>
        <p class="lead">
            Our membership card was created to give our members a better life, which is why we are always coming up with ways to enhance our membership card to make it even better.
        </p>
        <p class="lead">
            Therefore, we are always looking for feedback from our members, so please feel free to contact us at any time and give us your thoughts, ideas or ways for us to improve.
        </p>
        <p class="lead">
            Remember, this is Your Membership Card not Ours, and it is Designed for You and Not Us.
        </p>

        <hr class="invisible"/>

        <p>
            <img src="<?php echo $this->getViewFileUrl('images/about/ceo-signature.png'); ?>" alt=""/>
        </p>

        <p class="lead">
            Troy Ratliff<br/>
            CEO &amp; Chairman<br/>
            Llione Mint International. Inc
        </p>
    </div>

    <div class="hidden-xs hidden-sm col-md-5 banner-right-container">
        <img src="<?php echo $this->getViewFileUrl('images/about/banner-right.png'); ?>" class="img-responsive" alt=""/>
        <h2 class="heading text-center">Exclusively for You, Your Infinity of Choices</h2>
    </div>
</div>