<div id="product-page" class="row-fluid clearfix">
    <div class="container">
        <hr class="invisible"/>
        <?php echo $block->getBlockHtml('ulc_partial_allproductlist_content'); ?>
    </div>
</div>