<div id="become-a-member-form-page" class="row-fluid clearfix">

    <div class="row-fluid">
        <div class="banner-membership" style="background-image: url('<?php echo $this->getViewFileUrl('images/membership/become-a-member.jpg'); ?>')">
            <img src="<?php echo $this->getViewFileUrl('images/membership/become-a-member.jpg'); ?>" class="img-responsive invisible" alt=""/>
        </div>
    </div>

    <hr class="invisible"/>

    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <?php if (!isset($_GET["sku"])): ?>
                    <?php
                        echo $block->getLayout()
                            ->getBlock('ulc_store_payment_form')
                            ->addData([
                                'distributor' => false
                            ])
                            ->toHtml();
                    ?>
                <?php else: ?>
                    <?php echo $block->getBlockHtml('ulc_store_payment_multiple_form'); ?>
                <?php endif; ?>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

</div>