<?php
    $arrProduct = [];

    try
    {
        $objManager =  \Magento\Framework\App\ObjectManager::getInstance();

        $objStoreManager = $objManager->get('\Magento\Store\Model\StoreManager');

        $arrStores = $objStoreManager->getStores(false, true);

        $objMerchantStore = null;

        foreach($arrStores as $objStore)
        {
            if ($objStore->getCode() === 'membership_store_view')
            {
                $objMerchantStore = $objStore;
            }
        }

        if ($objMerchantStore)
        {
            $strProductImageUrl = $objMerchantStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product';

            $objCategoryFactory = $objManager->create('\Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
            $arrCategory = $objCategoryFactory->create()
                ->addAttributeToSelect('*')
                ->setStore($objMerchantStore->getId());

            if ($arrCategory)
            {
                foreach ($arrCategory as $objCategory)
                {
                    if ($objMerchantStore->getRootCategoryId() == $objCategory->getParentId())
                    {
                        $objProductCollection = $objManager->create('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');

                        $objProductCollection = $objProductCollection->create();
                        $objProductCollection->addStoreFilter($objMerchantStore);
                        $objProductCollection->addCategoryFilter($objCategory);
                        $objProductCollection->addAttributeToSelect([
                            'id',
                            'sku',
                            'name',
                            'image',
                            'price'
                        ]);

                        $arrProduct = $objProductCollection->load();
                    }
                }
            }
        }
    }
    catch(Exception $objError)
    {
        // do nothing
    }
?>
<div id="become-a-member-option-page">
    <div class="row-fluid">
        <div class="banner-membership" style="background-image: url('<?php echo $this->getViewFileUrl('images/membership/become-a-member.jpg'); ?>')">
            <img src="<?php echo $this->getViewFileUrl('images/membership/become-a-member.jpg'); ?>" class="img-responsive invisible" alt=""/>
        </div>
    </div>
    <hr class="invisible"/>

    <div class="container">
        <div class="row">
            <?php
                if(count($arrProduct) > 0)
                {
                    foreach ($arrProduct as $objProduct)
                    {
                        $strProductImage = !$objProduct->getImage() ? $this->getViewFileUrl('images/small-logo.png') : $strProductImageUrl . $objProduct->getImage();
                        $strNoImage = !$objProduct->getImage() ? 'no-image' : '';

                        $objPriceHelper = $objManager->create('\Magento\Framework\Pricing\Helper\Data');
                        $strPrice = $objPriceHelper->currency($objProduct->getPrice(), true, false);
            ?>
            <div class="col-sm-4">
                <?php
                    $strHref = "/membership?sku={$objProduct->getSku()}";

                    if ($objProduct->getSku() === 'membership_card')
                    {
                        $strHref = "/become-a-member-page";
                    }
                ?>
                <div class="text-center">
                    <p>
                        <img src="<?php echo $strProductImage; ?>"
                             style="max-width: 300px; min-width: 300px"
                             class="img-responsive center-block <?php echo $strNoImage; ?>"
                             alt="" />
                    </p>
                    <p><?php echo $objProduct->getName(); ?></p>
                    <p><?php echo $strPrice; ?></p>
                    <p>
                        <a class="btn btn-success"
                           href="<?php echo $strHref; ?>">
                            Select
                        </a>
                    </p>
                </div>
            </div>
            <?php
                    }
                }
            ?>
        </div>
    </div>
</div>