<div id="become-a-distributor-page" class="row-fluid clearfix">

    <div class="row-fluid">
        <div class="banner-distributor" style="background-image: url('<?php echo $this->getViewFileUrl('images/distributor/distributor.jpg'); ?>')">
            <img src="<?php echo $this->getViewFileUrl('images/distributor/distributor.jpg'); ?>" class="img-responsive invisible" alt=""/>
        </div>
    </div>
    <hr class="invisible"/>

    <div class="container">
        <div class="row-fluid">
            <div class="col-md-3 col-sm-1"></div>
            <div class="col-md-6 col-sm-10 col-xs-12">
                <?php
                    echo $block->getLayout()
                        ->getBlock('ulc_store_payment_form')
                        ->addData([
                            'distributor' => true
                        ])
                        ->toHtml();
                ?>
            </div>
            <div class="col-md-3 col-sm-1"></div>
        </div>
    </div>

</div>