<?php
    $strPrice = "";

    try
    {
        $strPrice = $block->getBlockHtml('ulc_membership_card_price');
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

        $objPriceHelper = $objectManager->create('\Magento\Framework\Pricing\Helper\Data');
        $strPrice = $objPriceHelper->currency($strPrice, true, false);
    }
    catch(Exception $objError)
    {

    }
?>
<div id="become-a-member-page" class="row-fluid clearfix">

    <hr class="invisible"/>

    <h3>Membership Card for 1 Person - <?php echo $strPrice; ?></h3>
    <br/>

    <div class="container">
        <div class="row-fluid">
            <div class="col-md-3 col-sm-1"></div>
            <div class="col-md-6 col-sm-10 col-xs-12">
                <?php
                    echo $block->getLayout()
                        ->getBlock('ulc_store_payment_form')
                        ->addData([
                            'distributor' => false
                        ])
                        ->toHtml();
                ?>
            </div>
            <div class="col-md-3 col-sm-1"></div>
        </div>
    </div>

</div>