<div id="career-page" class="row-fluid clearfix">

    <div class="row-fluid clearfix">
        <div class="hidden-xs hidden-sm col-md-4 banner-left-container">
            <img src="<?php echo $this->getViewFileUrl('images/career/banner-left.jpg'); ?>" class="img-responsive" alt=""/>
        </div>

        <div class="col-md-8 col-sm-12">
            <hr class="invisible"/>

            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <h2 class="heading">Career Opportunity</h2>

                    <p class="lead">
                        At Llione Mint International we are always looking for committed, motivated and smart individuals to join our team.
                    </p>
                </div>
                <div class="hidden-xs hidden-sm col-md-3">
                    <br/>
                    <img src="<?php echo $this->getViewFileUrl('images/lmi-logo.jpg'); ?>" class="img-responsive" alt=""/>
                </div>
            </div>

            <p class="lead">
                <strong>We are looking for:</strong>
            </p>

            <p class="lead">
                <strong>&bull; Business Development</strong><br/><br/>
                <strong>&bull; Marketing and Resellers</strong><br/><br/>
                <strong>&bull; Customer Service</strong>
            </p>

            <p class="lead">
                If you have a desire to join a company that believes there are no boundaries to what people can achieve.
            </p>

            <p class="lead">
                You believe in yourself and are looking for an opportunity to take your skills to a level that will help you achieve your personal and professional goals.
            </p>

            <p class="lead">
                Want to be with a company that can help you achieve your True potential then contact us today.
            </p>

            <p class="lead">
                Either call our customer service number or send us an email to <a href="mailto:enquiry@theultimatelifestylecard.com">enquiry@theultimatelifestylecard.com</a>
            </p>

            <p class="lead">
                We believe at Llione Mint International that everyone who wants to achieve their true potential just need an opportunity; so contact us today and let your new career begin.
            </p>
        </div>
    </div>

    <div class="container">
        <hr class="invisible"/>

        <h2 class="heading">Distributors and Resellers</h2>

        <p class="lead">
            We are also looking for resellers and distributors to join our team. Due to the unique diversity of our lifestyle card there is always an opportunity for people to be involved.
        </p>

        <p class="lead">
            Regardless if you are wanting to earn additional money, be involved with us full-time or even if you are currently employed in sales or even telephone sales, there is always a way for you to increase your income and expand your financial future.
        </p>

        <p class="lead">
            There are many companies that advertise that you can earn excellent income, but after you meet them they will require you to invest your hard-earned money just to market their products, and want you to be involved with a franchise or network marketing. These get rich quick schemes end up costing you a lot of money, and within a short-time you have become exhausted, ran out of contacts, money and end up quitting, with nothing to show for it except lost time, patience, and money; not to mention how disappointed you can be after having a bad experience.
        </p>

        <p class="lead">
            I assure you that once you meet us you will see that we won’t ask you to invest any money, and you will see there are so many ways for you to earn excellent income.
        </p>

        <p class="lead">
            We know that if you follow our direction and teachings, that even as part-time you will earn more than Php 10,000 per month, with an opportunity to earn so much more.
        </p>

        <p class="lead">
            Llione Mint International’s Mantra is: Where Innovation, Conceives Opportunity!
        </p>

        <p class="lead">
            Therefore, we have the innovation by creating The Ultimate Lifestyle Card, which has given you the Opportunity to improve your life. However, it is now up to you to take advantage of that and turn it into your reality.
        </p>
    </div>

</div>