<div id="merchant-certificates-page">
    <div id="merchant-page" class="row-fluid clearfix">

        <div class="row-fluid clearfix" simple-slider="">
            <?php echo $block->getBlockHtml('ulc_partial_certbanner_content'); ?>
        </div>

        <div class="container">
            <hr class="invisible"/>

            <h2 class="heading text-center">Our Partners</h2>

            <h2 class="sub-heading text-center">The Ultimate Lifestyle Merchant Certificates</h2>

            <?php echo $block->getBlockHtml('ulc_partial_certificatelist_content'); ?>
        </div>
    </div>

    <div class="modal-backdrop fade" id="modal-view-certificate-backdrop"></div>
    <div class="modal fade" id="modal-view-certificate" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="modal-view-certificate-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Verify Membership</h4>
                </div>
                <div class="modal-body">
                    <form class="clearfix">
                        <div class="col-sm-offset-2 col-sm-8">
                            <div class="form-group">
                                <label for="view-cert-membership-card" class="control-label">Membership Card Number</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input class="form-control" id="view-cert-membership-card" placeholder="Enter your Membership Card Number" maxlength="30" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="view-cert-membership-card-expiry-month" class="control-label">Membership Card Expiry</label>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <select class="form-control" id="view-cert-membership-card-expiry-month">
                                            <option value="01">January</option>
                                            <option value="02">February</option>
                                            <option value="03">March</option>
                                            <option value="04">April</option>
                                            <option value="05">May</option>
                                            <option value="06">June</option>
                                            <option value="07">July</option>
                                            <option value="08">August</option>
                                            <option value="09">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4">
                                        <select class="form-control" id="view-cert-membership-card-expiry-year">
                                            <?php
                                            $yearToDate = date('Y');
                                            $maxYearToDate = date('Y') + 20;
                                            ?>
                                            <?php for($yearToDate; $yearToDate < $maxYearToDate; $yearToDate++): ?>
                                                <option value="<?php echo $yearToDate; ?>"><?php echo $yearToDate; ?></option>
                                            <?php endfor; ?>
                                        </select>
                                    </div>
                                    <div class="col-xs-4"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <button type="button" id="btn-view-certificate" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                            <div id="show-view-certificate-loader" class="hidden">
                                <div class="form-group">
                                    <p class="text-center text-info">
                                        <img style="display: inline-block" src="<?php echo $this->getViewFileUrl('images/preloader.gif'); ?>" alt="" class="img-responsive"/>
                                        Processing please wait...
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <hr class="invisible"/>
                                    <p>
                                        <a href="/become-a-member"><small><em>Not yet a member? click here to register</em></small></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </form>

                    <input type="hidden" class="form-control" id="cert-sku"/>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>