<div id="customer-service-page" class="row-fluid clearfix">

    <div class="row-fluid clearfix">
        <div class="hidden-xs hidden-sm col-md-4 banner-left-container" style="background-image: url('<?php echo $this->getViewFileUrl('images/contact/banner-left.jpg'); ?>')">
            <hr class="invisible"/>
        </div>

        <div class="col-md-3 col-sm-12">
            <hr class="invisible"/>

            <h2>Contact Our Customer Service Representative</h2>

            <hr class="invisible"/>

            <div class="row-fluid">
                <?php echo $block->getBlockHtml('ulc_form_contact'); ?>
            </div>
        </div>

        <div class="col-md-5 col-sm-12 text-center">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 center-block">
                    <hr class="invisible"/>

                    <h2><?php echo $block->getBlockHtml('ulc_store_name'); ?></h2>

                    <p class="lead">
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer.company.address')->toHtml(); ?>
                    </p>

                    <p class="lead">
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer.company.contact')->toHtml(); ?>
                    </p>

                    <hr class="invisible"/>

                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15446.64033917995!2d121.014247!3d14.5614206!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdba49a0e92720823!2sPhilippine+Axa+Life!5e0!3m2!1sen!2sph!4v1462717901895"></iframe>
                    </div>

                    <hr class="invisible"/>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>

</div>