<div class="container" id="customer-dashboard-page">
    <hr class="invisible"/>

    <div class="row-fluid">
        <h2 class="heading" id="order-heading">Order History</h2>
    </div>

    <div class="row-fluid">
        <div id="customer-report">

            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th width="100">Invoice #</th>
                    <th width="120">Date</th>
                    <th width="200">Customer Name</th>
                    <th width="200">Item</th>
                    <th width="30">Qty</th>
                    <th width="70">Order Status</th>
                </tr>
                </thead>

                <tbody></tbody>

                <tfoot>
                <tr>
                    <td colspan="6">
                        <div id="customer-report-loading" class="hidden">
                            <p class="text-center text-info">
                                <img style="display: inline-block" src="<?php echo $this->getViewFileUrl('images/preloader.gif'); ?>" alt="" class="img-responsive"/>
                                Loading Order History
                            </p>
                        </div>
                    </td>
                </tr>
                </tfoot>

                <tfoot>
                <tr>
                    <td colspan="6">
                        <div id="customer-report-error" class="hidden">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <div class="alert alert-danger text-center">
                                    <p>Failed to load order history.</p>
                                    <p>
                                        <button type="button"
                                                id="customer-report-retry"
                                                class="btn btn-xs btn-danger">Retry</button>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<style>
    #order-heading {
        font-size: 32px;
    }
</style>