<div id="help-page" class="row-fluid clearfix">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <hr class="invisible"/>
                <h2 class="heading text-center">Frequently Asked Questions</h2>
            </div>

            <div class="col-md-6">
                <p class="lead">
                    <strong>What is Ultimate Lifestyle Card?</strong>
                </p>

                <p class="lead">
                    Ultimate Lifestyle Card is a Discount card that has one access to all your lifestyle needs.
                </p>

                <p class="lead">
                    It is the very first and the most comprehensive membership Program that has been ever created in the Philippines that gives you an infinity of privileges to enjoy exclusive discounts in Restaurants, Travel, Accommodation Salons, Spa and many other more.
                </p>

                <p class="lead">
                    <strong>What are the Participating outlets?</strong>
                </p>

                <p class="lead">
                    You can check the lists of outlets and establishments where you can fully enjoy your membership discounts <?php echo $block->getBlockHtml('ulc_store_url'); ?> as we will keep adding more merchants and value for the card.
                </p>

                <p class="lead">
                    <strong>Who can be a member?</strong>
                </p>

                <p class="lead">
                    Philippine residents and foreigners with Alien Certificates of Registration (ACR) may purchase the card.
                </p>

                <p class="lead">
                    <strong>Can I have more than one membership in the programmed?</strong>
                </p>

                <p class="lead">
                    Each member is allowed only one membership. The card and membership is nontransferable, and valid one year from date of purchase.
                </p>

                <p class="lead">
                    <strong>How soon can I receive my Ultimate Lifestyle card?</strong>
                </p>

                <p class="lead">
                    The card will be delivered to you within 7 business days and hours from Monday-Friday 9am-6pm from the date of purchase
                </p>

                <p class="lead">
                    <strong>If my friend or family member and I are dining at the same time and we both have Ultimate Lifestyle membership, can we use both cards at the same time?</strong>
                </p>

                <p class="lead">
                    The program indicates one (1) card per table only
                </p>
            </div>

            <div class="col-md-6">
                <p class="lead">
                    <strong>How do I enroll in <?php echo $block->getBlockHtml('ulc_store_name'); ?>?</strong>
                </p>

                <p class="lead">
                    Visit <?php echo $block->getBlockHtml('ulc_store_url'); ?> to complete the application form and submit online. <?php echo $block->getBlockHtml('ulc_store_name'); ?> Corporate Team will contact you upon receiving your application.
                </p>

                <p class="lead">
                    <strong>Where can I pay?</strong>
                </p>

                <p class="lead">
                    You may settle over the phone by giving your credit card details to the authorized Ultimate Lifestyle Card representative, or you may have it picked-up for the payment Cash and Check. For Check payments need 3 working days&rsquo; clearing time. Card will only be issued once check has cleared.
                </p>

                <p class="lead">
                    <strong>Will I can avail of the privileges after they have obtained the card through phone, even if the card has not yet been delivered?</strong>
                </p>

                <p class="lead">
                    You may receive the benefits and privileges once you receive the actual card as it needs to be presented when availing of the Discounts in the participating outlets.
                </p>

                <p class="lead">
                    <strong>Can a family member or friend use my Ultimate Lifestyle card?</strong>
                </p>

                <p class="lead">
                    The Ultimate Lifestyle card and its attached benefits are not transferable.
                </p>

                <p class="lead">
                    <strong>What should I do if I lose, misplace or damage my Ultimate Lifestyle card?</strong>
                </p>

                <p class="lead">
                    Please report the loss to The Ultimate Lifestyle Corporate Office immediately and complete a Replacement Card Form. The form can be submitted in person, via fax or email. a payment of Php 500.
                </p>

                <p class="lead">
                    * (Please see Terms and Condition for the delivery of the card replacement)
                </p>

                <p class="lead">
                    For further information and inquiries, the Member may contact Ultimate Lifestyle Card Corporate Office Hotline number <?php echo $block->getBlockHtml('ulc_store_phone'); ?> or send us an email <?php echo $block->getBlockHtml('ulc_store_email'); ?>.
                </p>
            </div>
        </div>
    </div>

    <div class="row-fluid clearfix">
        <img src="<?php echo $this->getViewFileUrl('images/help/banner-middle.jpg'); ?>" class="img-responsive banner-middle" alt=""/>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <hr class="invisible"/>
                <h2 class="heading text-center">Terms and Conditions</h2>
            </div>

            <div class="col-sm-12">
                <p class="lead">
                    Member acknowledge that their payment of the membership Fee constitutes their express request to become a <?php echo $block->getBlockHtml('ulc_store_name'); ?> member, which will entitle them to receive discounts, privileges and special promotions from our participating merchants.
                </p>

                <p class="lead">
                    The Membership Fee shall be payable in full before the <?php echo $block->getBlockHtml('ulc_store_name'); ?> is given to the member. Any increase or decrease to the Membership Fees for subsequent years of Membership will be notified to all Members in advance of their Renewal Dates.
                </p>

                <p class="lead">
                    To become a <?php echo $block->getBlockHtml('ulc_store_name'); ?> member the person can simply complete the Contact Us form on our website or contact our office, where one of our authorized <?php echo $block->getBlockHtml('ulc_store_name'); ?> representatives can  assist them so they can conveniently join over the telephone by giving us their credit card details or arranging courier payment collection. Check payments need 3 working days&rsquo; clearing time. Card will only be issued once check has cleared.
                </p>

                <p class="lead">
                    The current Membership Fee is net Php 3,500, valid for 1 year from the date of purchase.
                </p>

                <p class="lead">
                    <strong>Terms and Conditions</strong>
                </p>

                <p class="lead">
                    &bull; Membership of <?php echo $block->getBlockHtml('ulc_store_name'); ?> is personal and can only be used by the card holder&rsquo;s name, which has been embossed on the card.
                </p>

                <p class="lead">
                    &bull; The member fully accepts responsibility, understands and consents to be bound by all terms and conditions set by <?php echo $block->getBlockHtml('ulc_store_name'); ?> and any participating merchant partners reserves the right to verify the identity of the cardholder.
                </p>

                <p class="lead">
                    <strong>Membership Card</strong>
                </p>

                <p class="lead">
                    &bull; This membership card is proof that you are member of <?php echo $block->getBlockHtml('ulc_store_name'); ?> and must be signed by you as the card holder. Your membership privileges will be extended only upon presentation of a valid membership card. No refunds will be accorded if card is not presented.
                </p>

                <p class="lead">
                    &bull; <?php echo $block->getBlockHtml('ulc_store_name'); ?> is non-transferable, non-refundable and have no cash value, unless we have added cash loading options like BEEP.
                </p>

                <p class="lead">
                    &bull; Membership privileges are valid only through the date embossed on the membership card, which is valid for one year from the date of purchase.
                </p>

                <p class="lead">
                    &bull; All lost or stolen cards should be reported immediately. An administrative charge of Php 500 will be made to issue replacement of your card.
                </p>

                <p class="lead">
                    &bull; Once membership is purchased, you are bound by the policies, terms and conditions of the membership. In the event of misuse of a membership card or when a member does not abide, <?php echo $block->getBlockHtml('ulc_store_name'); ?> reserves the right to cancel the membership. No refund on the membership fees and/or any form of compensatory measure will be extended. Such misuse may include, but is not limited to, behavior which is troublesome or shows a lack of respect towards the staff, merchant partners, criminal actions or actions which are generally perceived to be immoral, unethical or contrary to these membership terms and conditions.
                </p>

                <p class="lead">
                    <strong>Membership Benefits</strong>
                </p>

                <p class="lead">
                    &bull; You will be able to see a list of all your membership benefits at <?php echo $block->getBlockHtml('ulc_store_url'); ?>
                </p>

                <p class="lead">
                    &bull; Participating merchant partners and their benefits are subject to change without notification and can become effective immediately. It is the members&rsquo; responsibility to see a list of participating merchants and membership benefits before trying to avail.
                </p>

                <p class="lead">
                    &bull; All membership privileges may not be used in conjunction with any other special discount, promotions offer, programs or other membership cards, senior citizens or PWD discounts, unless otherwise stipulated and accepted by the merchant partner. Members will decide which offer they wish to avail.
                </p>

                <p class="lead">
                    <strong>Membership Terms</strong>
                </p>

                <p class="lead">
                    &bull; <?php echo $block->getBlockHtml('ulc_store_name'); ?> is free to unilaterally change the membership terms and conditions without giving further notice to the individual member. Such changes will, unless otherwise stated, take immediate effect. <?php echo $block->getBlockHtml('ulc_store_name'); ?> will publish changes to the terms and conditions on its website. However, members are responsible for keeping themselves updated in relation to any changes to the terms and conditions.
                </p>

                <p class="lead">
                    &bull; Neither <?php echo $block->getBlockHtml('ulc_store_name'); ?> or Llione Mint International. Inc shall be liable for any amount greater than the membership fees to any member as a result of or in conjunction with his or her membership benefits.
                </p>

                <p class="lead">
                    &bull; The membership terms and conditions published on our website are to be considered the applicable membership terms and conditions for <?php echo $block->getBlockHtml('ulc_store_name'); ?>, which will supersede any written or printed material.
                </p>

                <p class="lead">
                    &bull; Membership must be renewed before expiration for members to continue enjoying the benefits of the program.
                </p>

                <p class="lead">
                    &bull; It is the members&rsquo; responsibility to keep their information file up-to-date by reporting any change in email, address, number and other data to The Ultimate Lifestyle office. Members may also update their email password by logging into our website.
                </p>

                <p class="lead">
                    &bull; The membership terms and conditions published on our website are to be considered the applicable membership terms and conditions for <?php echo $block->getBlockHtml('ulc_store_name'); ?>.
                </p>

                <p class="lead">
                    &bull; To view the latest updates and merchant partner benefits visit <?php echo $block->getBlockHtml('ulc_store_url'); ?>.
                </p>
            </div>
        </div>
    </div>

</div>