<div id="home-page">
    <div class="row-fluid">
        <img src="<?php echo $this->getViewFileUrl('images/home/banner.jpg'); ?>" class="banner img-responsive" alt=""/>
    </div>

    <div class="container">
        <div class="col-sm-12">
            <h2 class="heading text-center">Exclusively for You, Your Infinity of Choices</h2>
        </div>

        <div class="col-sm-12">
            <p class="lead text-center">
                Imagine, a Membership Card that you can<br/>
                Use for All Your Lifestyle Needs.

                <br/><br/>

                A Membership Card that can be<br/>
                Personalized for All Your Individual Needs.

                <br/><br/>

                A Membership Card that will Accommodate<br/>
                to any changes of your Lifestyle Priorities.

                <br/><br/>

                Welcome to The Ultimate Lifestyle Card; the only<br/>
                Fully Comprehensive Membership Card in the Philippines.

                <br/><br/>

                <a href="/exclusive-offers">
                    <img src="<?php echo $this->getViewFileUrl('images/home/infinity.gif'); ?>" alt=""/><br/>
                    <small>Click here for your Infinite of Choices</small>
                </a>
            </p>
        </div>
    </div>
</div>