<div id="howto-page" class="row-fluid clearfix">

    <div class="row-fluid clearfix">
        <div class="banner-container">
            <img src="<?php echo $this->getViewFileUrl('images/howto/banner.jpg'); ?>" class="banner img-responsive" alt=""/>
            <div class="banner-label-container">
                <h1 class="banner-label">4 simples steps to start saving money today!</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-unstyled list-inline step-wrapper">
                            <li>
                                <div class="step-container">
                                    <h2 class="step-badge">1</h2>
                                    <h3 class="step-label">Purchase<br/>membership card</h3>
                                </div>
                            </li>
                            <li>
                                <div class="step-container">
                                    <h2 class="step-badge">2</h2>
                                    <h3 class="step-label">Browse the participating merchants</h3>
                                </div>
                            </li>
                            <li>
                                <div class="step-container">
                                    <h2 class="step-badge">3</h2>
                                    <h3 class="step-label">Visit<br/>the establishment</h3>
                                </div>
                            </li>
                            <li>
                                <div class="step-container">
                                    <h2 class="step-badge">4</h2>
                                    <h3 class="step-label">Present your membership card to receive discount</h3>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <hr class="invisible"/>

        <h2 class="heading text-center">Exclusive Lifestyle Offers</h2>

        <p class="lead">
            <?php echo $block->getBlockHtml('ulc_store_name'); ?> is a Discount card that has one access to all your lifestyle needs.
        </p>

        <p class="lead">
            It is the very first and the most comprehensive membership Program that has been ever created in the Philippines that gives you an infinity of privileges to enjoy exclusive discounts in Restaurants, Travel, Accommodation Salons, Spa and many other more.
        </p>
    </div>

</div>