<div id="login-page" class="row-fluid clearfix">
    <div class="col-md-5 hidden-xs hidden-sm banner-left-container">
        <img src="<?php echo $this->getViewFileUrl('images/login/banner-left.jpg'); ?>" class="img-responsive" alt=""/>
    </div>

    <div class="col-md-7 col-sm-12 banner-right-container">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <hr class="invisible"/>

            <p class="lead">
                Sign in to your <?php echo $block->getBlockHtml('ulc_store_name'); ?> online account to view all of our participating merchants&rsquo; discounts, refer a friend to become a member or to recommend a merchant to become one of our participating partners and more.
            </p>

            <hr class="invisible"/>

            <?php if($block->escapeHtml($this->getRequest()->getParam('auth')) == "required" && $block->escapeHtml($this->getRequest()->getParam('refer-a-friend')) == 1): ?>
            <div class="alert alert-warning">
                <p>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    You need to be login first to be able to refer a friend.
                </p>
            </div>
            <?php endif; ?>

            <div class="row-fluid">
                <div class="col-md-7 col-sm-12">
                    <?php echo $block->getBlockHtml('ulc_form_login'); ?>
                </div>
                <div class="col-md-5 hiddex-xs hidden-sm"></div>
            </div>

            <hr class="invisible"/>

            <div class="row-fluid">
                <?php echo $block->getBlockHtml('ulc_partial_refer_content'); ?>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>