<?php
    $arrUrl = explode("/", $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]));

    $strLastSlug = array_pop($arrUrl);
?>

<?php if ($strLastSlug === 'merchant-dashboard-form'): ?>
    <style>
        #modal-close {
            display: none;
        }

        #merchant-dashboard-page {
            margin-top: 20px !important;
            padding-top: 20px !important;
        }

        .page-header {
            position: absolute;
            left: -9999px;
            top: -9999px;
        }

        footer {
            position: absolute;
            left: -9999px;
            bottom: -9999px;
        }
    </style>
<?php endif; ?>

<div class="container" id="merchant-dashboard-page">
    <div class="row-fluid">
        <ul class="nav nav-tabs" id="merchant-dashboard-tab">
            <li role="presentation" data-tab="certificates" class="active"><a href="#">Certificates</a></li>
            <li role="presentation" data-tab="sales-report"><a href="#">Sales Invoice</a></li>
            <li role="presentation" data-tab="merchant-my-account"><a href="#">My Account</a></li>
        </ul>
    </div>

    <div class="row-fluid">
        <div id="certificates" class="tab-item active">

            <div class="row-fluid" id="certificate-list"></div>

            <div class="row-fluid">
                <div id="certificates-loading" class="hidden">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <p class="text-center text-info">
                            <img style="display: inline-block" src="<?php echo $this->getViewFileUrl('images/preloader.gif'); ?>" alt="" class="img-responsive"/>
                            Loading Certificates
                        </p>
                    </div>
                    <div class="col-sm-4"></div>
                </div>

                <div id="certificates-error" class="hidden">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <div class="alert alert-danger text-center">
                            <p>Failed to load certificates.</p>
                            <p>
                                <button type="button"
                                        id="certificates-retry"
                                        class="btn btn-xs btn-danger">Retry</button>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>

        </div>

        <div id="sales-report" class="tab-item">

            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th width="100">Invoice #</th>
                        <th width="120">Date</th>
                        <th width="200">Customer Name</th>
                        <th width="200">Item</th>
                        <th width="30">Qty</th>
                        <th width="70">Order Status</th>
                    </tr>
                </thead>

                <tbody></tbody>

                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div id="sales-report-loading" class="hidden">
                                <p class="text-center text-info">
                                    <img style="display: inline-block" src="<?php echo $this->getViewFileUrl('images/preloader.gif'); ?>" alt="" class="img-responsive"/>
                                    Loading Sales Invoice Report
                                </p>
                            </div>
                        </td>
                    </tr>
                </tfoot>

                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div id="sales-report-error" class="hidden">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <div class="alert alert-danger text-center">
                                        <p>Failed to load sales invoice report.</p>
                                        <p>
                                            <button type="button"
                                                    id="sales-report-retry"
                                                    class="btn btn-xs btn-danger">Retry</button>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>

        <div id="merchant-my-account" class="tab-item">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <legend>
                    <h4>Change my Login Password</h4>
                </legend>
                <form>
                    <div class="form-group">
                        <label for="merchant-new-password">New Password</label>
                        <input type="password"
                               class="form-control"
                               id="merchant-new-password"
                               placeholder="Enter your new password"
                               maxlength="30"/>
                    </div>
                    <div class="form-group">
                        <label for="merchant-confirm-password">Confirm Password</label>
                        <input type="password"
                               class="form-control"
                               id="merchant-confirm-password"
                               placeholder="Re-type your new password"
                               maxlength="30"/>
                    </div>
                    <div class="form-group">
                        <label for="merchant-current-password">Current Password</label>
                        <input type="password"
                               class="form-control"
                               id="merchant-current-password"
                               placeholder="Enter your current password"
                               maxlength="30"/>
                    </div>
                    <div class="form-group">
                        <p class="text-center">
                            <button type="button" id="merchant-change-password" class="btn btn-success">Change Password</button>
                        </p>
                        <div id="show-changepw-loader" class="hidden">
                            <p class="text-center text-info">
                                <img style="display: inline-block" src="<?php echo $this->getViewFileUrl('images/preloader.gif'); ?>" alt="" class="img-responsive"/>
                                Processing please wait...
                            </p>
                        </div>
                        <div id="merchant-change-password-message">
                            <div class="alert alert-danger error hidden"></div>
                            <div class="alert alert-success success hidden"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade" id="modal-certificate-backdrop"></div>
<div class="modal fade" id="modal-certificate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="modal-certificate-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Redeem Certificate</h4>
            </div>
            <div class="modal-body">
                <form class="clearfix">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="form-group">
                            <label for="cert-membership-card" class="control-label">Membership Card Number</label>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input class="form-control" id="cert-membership-card" placeholder="Enter your Membership Card Number" maxlength="30" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="button" id="identify-card-membership" class="btn btn-success">Identify Member</button>
                                <button type="button" id="btn-checkout-certificate" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        <div id="show-redeem-loader" class="hidden">
                            <div class="form-group">
                                <p class="text-center text-info">
                                    <img style="display: inline-block" src="<?php echo $this->getViewFileUrl('images/preloader.gif'); ?>" alt="" class="img-responsive"/>
                                    Processing please wait...
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="merchant-redeem-message" class="col-sm-12">
                                <br/>
                                <div class="alert alert-danger error hidden"></div>
                                <div class="alert alert-success success hidden"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </form>

                <input type="hidden" class="form-control" id="cert-sku"/>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->