<div id="merchant-page" class="row-fluid clearfix">

    <div class="row-fluid clearfix" simple-slider="">
        <?php echo $block->getBlockHtml('ulc_partial_merchantbanner_content'); ?>
    </div>

    <!--<div class="container">
        <?php /*echo $block->getBlockHtml('ulc_partial_merchantlogo_content'); */?>
    </div>-->

    <!--<div class="row-fluid clearfix priviledge-footer">
        <div class="bg-priv-container-footer">
            <img src="<?php /*echo $this->getViewFileUrl('images/priviledge/banner-bottom.jpg'); */?>" class="bg-priv-footer" alt=""/>
        </div>

        <div class="container text-center">
            <?php /*echo $block->getBlockHtml('ulc_partial_refer_content'); */?>
        </div>
    </div>-->

    <div class="container">
        <hr class="invisible"/>

        <h2 class="heading text-center">Our Partners</h2>

        <h2 class="sub-heading text-center">The Ultimate Lifestyle Merchant Categories</h2>

        <?php echo $block->getBlockHtml('ulc_partial_merchantlist_content'); ?>
    </div>
</div>