<div id="partner-page" class="row-fluid clearfix">

    <div class="row-fluid clearfix">
        <div class="banner-container">
            <img src="<?php echo $this->getViewFileUrl('images/partner/banner.jpg'); ?>" class="banner img-responsive" alt=""/>
            <div class="banner-label-container">
                <h1 class="banner-label">The importance of<br/>choosing the right partner.</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <hr class="invisible"/>

        <h2 class="heading text-center">Why Partner with Us?</h2>

        <p class="lead">
            Regardless of the size of your business, how successful you are, or even how many clients you are now attracting, there are always times that you might want to take your business to another level.
        </p>

        <p class="lead">
            However, how can you do that effectively without incurring substantial cost, and more importantly, how effective will that be?
        </p>

        <p class="lead">
            As our merchant partner, we wil attract clients from different marketing sectors. This creates opportunity for you to use our diversified marketing platforms, to entice them into your establishment and utilize your services.
        </p>

        <p class="lead">
            <strong>&bull; Foundation Merchant</strong>
        </p>

        <p class="lead">
            <strong>Zero Cost</strong>
        </p>

        <p class="lead">
            By becoming a merchant partner now, you will be given Foundation Merchant status, which entitles you to incur no merchant fee for the first year.
        </p>

        <p class="lead">You will also be given free advertising and promotional material to feature in your establishment, which will help promote your business and attract new customers.</p>

        <p class="lead">
            <strong>&bull; Membership Database</strong>
        </p>

        <p class="lead">
            <strong>Creates Loyalty</strong>
        </p>

        <p class="lead">
            Due to the diversity with our category list, we are reaching an unlimited number of new members each day. This gives you the opportunity to attract them to your establishment by offering tailored made exclusive promotions.
        </p>

        <p class="lead">
            Furthermore, as our membership database grows with loyal members, their loyalty to our lifestyle card, ensures loyalty to your business.
        </p>

        <p class="lead">
            <strong>&bull; Maximum Exposure</strong>
        </p>

        <p class="lead">
            <strong>Public Recognition</strong>
        </p>

        <p class="lead">
            We encourage our members to recommend their favorite establishments, so they can also become our merchant partners.
        </p>

        <p class="lead">
            Therefore, by being part of these elite merchant partners, your business will automatically gain maximum exposure and optimum recognition.
        </p>

        <p class="lead">
            Furthermore, the public and our members will identify that your business has been selected to be affiliated with an elite group of exclusive merchants.
        </p>

        <p class="lead">
            We have partnered with many corporate companies, BEEP card, charity organizations and other premium brands, therefore your business will become automatically associated with them as well.
        </p>

        <p class="lead">
            <strong>BECOME A PARTNER</strong>
        </p>

        <p class="lead">
            If you would like to find out more about how to become a Partner with us, fill out the form below and one of our staff members will get back to you.
        </p>

        <p class="lead">
            We are currently seeking Partners throughout around Metro Manila.
        </p>

        <p class="lead">
            Important note: We will not be using your contact info for any other purpose than contacting you about your interest in becoming a Partner.
        </p>

        <hr class="invisible"/>

        <div class="row-fluid clearfix" id="partner-form-page">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10">
                <?php echo $block->getBlockHtml('ulc_form_contact'); ?>
            </div>
            <div class="col-md-3 col-sm-1"></div>
        </div>

        <hr class="invisible"/>

        <?php echo $block->getBlockHtml('ulc_partial_merchantlogo_content'); ?>
    </div>

</div>