<div id="payment-status-page" class="row-fluid clearfix">
    <div class="row-fluid">
        <hr class="invisible"/>
        <hr class="invisible"/>

        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <?php if (isset($_GET["status"], $_GET["o"]) && in_array($_GET["status"], ["success"])): ?>
                <div class="alert alert-success">
                    <p class="lead">
                        <span class="glyphicon glyphicon-ok"></span>
                        Thank you for choosing us. We will now process your membership shortly.
                    </p>
                    <br/>
                    <p class="lead">
                        <small>
                            <em>
                                If you have question regarding your payment just email us your Order Reference No. <?php echo $_GET["o"]; ?>
                            </em>
                        </small>
                    </p>
                </div>
            <?php endif; ?>

            <?php if (isset($_GET["status"]) && in_array($_GET["status"], ["cancel", "fail"])): ?>
                <div class="alert alert-danger">
                    <p>
                        <span class="glyphicon glyphicon-remove"></span>
                        Sorry we couldn't process your payment. Please try again.
                    </p>
                </div>
            <?php endif; ?>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<style>
    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
</style>