<div id="privilege-page" class="row-fluid clearfix">

    <div class="row-fluid clearfix">
        <img src="<?php echo $this->getViewFileUrl('images/priviledge/banner.jpg'); ?>" class="banner img-responsive" alt=""/>
    </div>

    <div class="container">
        <hr class="invisible"/>

        <h2 class="heading">Privileges</h2>

        <p class="lead">
            <?php echo $block->getBlockHtml('ulc_store_name'); ?> will open your life up to endless opportunities to start living your life to it&rsquo;s fullest. We call it your infinity of choices because that’s just what you will get, and every month there will be even more choices for you. In addition, we are always looks for new merchants to add to our large category list.
        </p>

        <p class="lead">
            Therefore, this is your opportunity to participate in having the membership card of your choice. Fill out in our website the merchant that you want us to contact on your behalf and chances are they will also be involved the following month. As an Ultimate Lifestyle Card member, you'll be able to relish all the great food and holidays you can imagine in exotic Philippines with the best deals possible.
        </p>

        <p class="lead">
            Unlike other traditional membership cards, which focuses primary on either hotel accommodation or F&amp;B benefits; our membership will not focus on any one category. We will be offering membership benefits in a very broad range of categories, which is designed to accommodate most, if not, all our members&rsquo; lifestyles.
        </p>

        <p class="lead">
            Our membership will offer everything from F&amp;B, accommodation, travel, health clinics, dermatologists, medical &amp; dentistry, spas, education, fashion &amp; accessories, theme parks, sporting venues, clubs &amp; entertainment, jeweler shops and retail outlets. Members will also be able to purchase online various items, and this is to just name a few of our many categories.
        </p>

        <p class="lead">

            Furthermore, as our membership grows, so will our category list. Our membership card’s logo is the Infinite Sign. This is because we will always be adding more merchants, promotions, savings and categories each month, which will give our members more ways to save money; unlike other traditional membership cards that offer the same membership benefits for the full year.
        </p>

        <p class="lead">
            A member pack with your very own membership card all for the very low membership fee of Php 3,500.
        </p>

        <p class="lead">
            Join us today by completing your details on our website.  You will then receive a call from one of our customer service team who will guide you through the simple process of how to become a member.
        </p>
    </div>

    <div class="row-fluid clearfix priviledge-footer">
        <div class="bg-priv-container-footer">
            <img src="<?php echo $this->getViewFileUrl('images/priviledge/banner-bottom.jpg'); ?>" class="bg-priv-footer" alt=""/>
        </div>

        <div class="container text-center">
            <?php echo $block->getBlockHtml('ulc_partial_refer_content'); ?>
        </div>
    </div>

    <hr class="invisible"/>

    <div class="container">
        <?php echo $block->getBlockHtml('ulc_partial_merchantlogo_content'); ?>
    </div>
</div>