<div id="product-page" class="row-fluid clearfix">
    <div class="container">
        <hr class="invisible"/>

        <?php
            $objManager =  \Magento\Framework\App\ObjectManager::getInstance();

            if (isset($_GET["category"]))
            {
                $objCategoryFactory = $objManager->create('\Magento\Catalog\Model\CategoryFactory');
                $objCategory = $objCategoryFactory->create()->load((int)$_GET["category"]);
            }

            $objStoreManager = $objManager->get('\Magento\Store\Model\StoreManager');
            $arrStores = $objStoreManager->getStores(false, true);

            $objMerchantStore = null;
            $arrCategory = [];

            foreach($arrStores as $objStore)
            {
                if ($objStore->getCode() === 'products_view')
                {
                    $objMerchantStore = $objStore;
                }
            }

            if ($objMerchantStore)
            {
                $objCategoryRepository = $objManager->create('\Magento\Catalog\Model\CategoryRepository');
                $arrCategory = $objCategoryRepository->get($objMerchantStore->getRootCategoryId())
                    ->getChildrenCategories();
            }
        ?>

        <?php if (isset($_GET["category"], $objCategory)): ?>
        <h3 class="heading text-capitalize"><?php echo $objCategory->getName(); ?></h3>
        <ol class="breadcrumb">
            <li><a href="/products">Products</a></li>
            <li><a class="active"><?php echo $objCategory->getName(); ?></a></li>
        </ol>
        <hr class="invisible"/>

        <?php echo $block->getBlockHtml('ulc_partial_productlist_content'); ?>
        <?php elseif ($arrCategory): ?>
            <hr class="invisible"/>

            <h2 class="sub-heading text-center category-view">Product Categories</h2>

            <hr class="invisible"/>

            <div class="row">
                <?php foreach ($arrCategory as $objCat): ?>
                    <?php
                        $objCatModel = $objManager->create('Magento\Catalog\Model\Category')->load($objCat->getId());
                    ?>
                    <div class="col-sm-3">
                        <div class="thumbnail category-container">
                            <a href="/products?category=<?php echo $objCat->getId(); ?>">
                                <img src="<?php echo $objCatModel->getImageUrl(); ?>"
                                     alt=""
                                     class="img-responsive category-image" />
                                <div class="caption text-center">
                                    <p class="text-capitalize"><?php echo $objCat->getName(); ?></p>
                                    <p><small><?php echo $objCatModel->getProductCount(); ?> product<?php echo $objCatModel->getProductCount() > 1 ? "s" : ""; ?></small></p>
                                </div>
                            </a>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>
    </div>
</div>