<?php
    $arrProductChunk = [];
    $countChunk = 0;

    try
    {
        $objManager =  \Magento\Framework\App\ObjectManager::getInstance();

        $objStoreManager = $objManager->get('\Magento\Store\Model\StoreManager');

        $arrStores = $objStoreManager->getStores(false, true);

        $objMerchantStore = null;

        foreach($arrStores as $objStore)
        {
            if ($objStore->getCode() === 'merchants')
            {
                $objMerchantStore = $objStore;
            }
        }

        if ($objMerchantStore)
        {
            $objProductCollection = $objManager->create('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');

            $objProductCollection = $objProductCollection->create();
            $objProductCollection->addStoreFilter($objMerchantStore);
            $objProductCollection->addAttributeToSelect([
                'id',
                'sku',
                'name',
                'image'
            ]);

            $arrProduct = $objProductCollection->load();

            if ($arrProduct)
            {
                $strProductImageUrl = $objMerchantStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product';

                $arrProductToData = [];

                foreach($arrProduct as $objProduct)
                {
                    if ($objProduct->getSku() === 'membership_card')
                    {
                        continue;
                    }

                    $objProduct->load('media_gallery');
                    $hasMedia =  $objProduct->getMediaGalleryImages();

                    if (!$hasMedia)
                    {
                        continue;
                    }
                    else
                    {
                        $skip = true;

                        foreach ($hasMedia as $objMedia)
                        {
                            if ($objMedia->getMediaType() == "external-video")
                            {
                                $skip = false;
                            }
                        }
                    }

                    if ($skip === true)
                    {
                        continue;
                    }

                    $strProductImage = !$objProduct->getImage() ? $this->getViewFileUrl('images/small-logo.png') : $strProductImageUrl . $objProduct->getImage();
                    $strNoImage = !$objProduct->getImage() ? 'no-image' : '';

                    $arrProductToData[] = [
                        'sku' => $objProduct->getSku(),
                        'name' => $objProduct->getName(),
                        'image' => $strProductImage,
                        'imageStatus' => !!$objProduct->getImage()
                    ];
                }

                $arrProductChunk = array_chunk($arrProductToData, 5);
                $countChunk = count($arrProductChunk);

                unset($arrProduct, $arrProductToData);
            }
        }
    }
    catch(Exception $objError)
    {
        echo '';
    }
?>
<div id="videos-page" class="row-fluid">
    <div class="row-fluid">
        <?php
            echo $block->getLayout()
                ->getBlock('ulc_partial_videolist_content')
                ->addData([
                    'video_highlight' => $block->getData('video_highlight')
                ])
                ->toHtml();
        ?>
    </div>

    <hr class="invisible" />

    <h2 class="heading text-center">Our Partners</h2>

    <div class="container">
        <div id="all-product-offer-list" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <?php for ($counter = 0; $counter < $countChunk; $counter++): ?>
                <li data-target="#all-product-offer-list"
                    data-slide-to="<?php echo $counter; ?>"
                    class="<?php echo $counter == 0 ? 'active' : ''; ?>"></li>
                <?php endfor; ?>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <?php foreach ($arrProductChunk as $index => $chunkProduct): ?>
                <div class="item <?php echo $index == 0 ? 'active' : ''; ?>">
                    <div class="row">
                        <?php foreach ($chunkProduct as $product): ?>
                        <div class="col-sm-2">
                            <a href="/events?sku=<?php echo $product['sku']; ?>&promotion=1"
                               class="thumbnail">
                                <img src="<?php echo $product['image']; ?>"
                                     class="merchant-partners img-responsive <?php echo !$product['imageStatus'] ? 'no-image' : ''; ?>"
                                     alt="<?php echo $product['name']; ?>"/>
                            </a>
                            <div>
                                <h5 class="text-center">
                                    <a href="/events?sku=<?php echo $product['sku']; ?>">
                                        <?php echo $product['name']; ?>
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <?php endforeach; ?>
                    </div>
                </div>
                <?php endforeach; ?>
            </div>

            <!-- Controls -->
            <a class="left carousel-control"
               href="#all-product-offer-list"
               data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Prev</span>
            </a>
            <a class="right carousel-control"
               href="#all-product-offer-list"
               data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <hr class="invisible" />

</div>