<div id="welcome-page">
    <div class="row-fluid">
        <img src="<?php echo $this->getViewFileUrl('images/home/banner.jpg'); ?>" class="banner img-responsive" alt=""/>
    </div>

    <div class="container text-center">
        <a href="/exclusive-offers">
            <img src="<?php echo $this->getViewFileUrl('images/home/infinity.gif'); ?>" alt=""/><br/>
            Click here for your Infinite of Choices
        </a>
    </div>
</div>