<div class="row-fluid">
<?php
try
{
    $objManager =  \Magento\Framework\App\ObjectManager::getInstance();

    $objStoreManager = $objManager->get('\Magento\Store\Model\StoreManager');

    $arrStores = $objStoreManager->getStores(false, true);

    $objMerchantStore = null;

    foreach($arrStores as $objStore)
    {
        if ($objStore->getCode() === 'products_view')
        {
            $objMerchantStore = $objStore;
        }
    }

    if ($objMerchantStore)
    {
        $objProductCollection = $objManager->create('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');

        $objProductCollection = $objProductCollection->create();
        $objProductCollection->addStoreFilter($objMerchantStore);
        $objProductCollection->addAttributeToFilter('is_product', [
            'eq' => 1
        ]);
        $objProductCollection->addAttributeToSelect([
            'id',
            'sku',
            'name',
            'image',
            'price'
        ]);

        $arrProduct = $objProductCollection->load();

        if ($arrProduct)
        {
            $strProductImageUrl = $objMerchantStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product';

            foreach($arrProduct as $objProduct)
            {
                if ($objProduct->getSku() === 'membership_card') {
                    continue;
                }

                $strProductImage = !$objProduct->getImage() ? $this->getViewFileUrl('images/small-logo.png') : $strProductImageUrl . $objProduct->getImage();
                $strNoImage = !$objProduct->getImage() ? 'no-image' : '';

                $objStockStateInterface = $objManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
                $intQty = $objStockStateInterface->getStockQty($objProduct->getId(), $objProduct->getStore()->getWebsiteId());

                $objPriceHelper = $objManager->create('\Magento\Framework\Pricing\Helper\Data');
                $strPrice = $objPriceHelper->currency($objProduct->getPrice(), true, false);

                echo "<div class=\"col-xs-12 col-sm-4 col-md-3 product-item category-item\">" .
                    "<div class=\"image-container\" style=\"background-image: url({$strProductImage})\"></div>" .
                    "<a href=\"/products_view/{$objProduct->getSku()}.html?product=1\">" .
                    "<h4 class=\"product-label\">{$objProduct->getName()}</h4>" .
                    "</a>" .
                    "<p class=\"product-misc\"><small>Price: {$strPrice}<br/>Stock Left: {$intQty}<br/></small></p>" .
                    '<p class="product-misc"><button type="button" class="btn btn-success" data-product-buy-now="'. $objProduct->getSku() .'">Buy Now</button></p>' .
                    "</div>";
            }
        }

        if (!$arrProduct)
        {
            echo "<h2>No product(s) at the moment. Please come back again.</h2>";
        }
    }
}
catch(\Exception $objError)
{
    // log error
}
?>
</div>
