<?php
    try
    {
        $objManager =  \Magento\Framework\App\ObjectManager::getInstance();

        $objStoreManager = $objManager->get('\Magento\Store\Model\StoreManager');

        $arrStores = $objStoreManager->getStores(false, true);

        $objMerchantStore = null;

        foreach($arrStores as $objStore)
        {
            if ($objStore->getCode() === 'certificates')
            {
                $objMerchantStore = $objStore;
            }
        }

        if ($objMerchantStore)
        {
            $objProductCollection = $objManager->create('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');

            $objProductCollection = $objProductCollection->create();
            $objProductCollection->addStoreFilter($objMerchantStore);
            $objProductCollection->addAttributeToSelect([
                'id',
                'sku',
                'name',
                'image',
                'price'
            ]);
            $objProductCollection->addAttributeToFilter('merchant_code', ['notnull' => true] );

            $arrProduct = $objProductCollection->load();

            if ($arrProduct)
            {
                $strProductImageUrl = $objMerchantStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product';

                foreach($arrProduct as $objProduct)
                {
                    if ($objProduct->getSku() === 'membership_card') {
                        continue;
                    }

                    $objStockStateInterface = $objManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
                    $intQty = $objStockStateInterface->getStockQty($objProduct->getId(), $objProduct->getStore()->getWebsiteId());

                    $strCode = crypt($objProduct->getSku(), XhapeSolutions\Merchant\Controller\User\Products::CERT_SALT);
                    // add class to open modal pop -> btn-view-cert-code
                    $strButton = "<a href=\"/customer/account/login\" onclick=\"window.localStorage.setItem(\"redirect\",\"/certificates/{$objProduct->getSku()}.html\");\" class=\"btn btn-xs login-see-code btn-success\">login to see code</a>";

                    if (!isset($_SESSION["ulc_membership_card_valid"]) && !isset($_SESSION["ulc_customer"]))
                    {
                        $strCode = str_pad(substr($strCode, 0, 1) . "-", 6, "X", STR_PAD_RIGHT);
                    }
                    else
                    {
                        $strButton = "";
                    }

                    $strProductImage = !$objProduct->getImage() ? $this->getViewFileUrl('images/small-logo.png') : $strProductImageUrl . $objProduct->getImage();
                    $strNoImage = !$objProduct->getImage() ? 'no-image' : '';

                    $objPriceHelper = $objManager->create('\Magento\Framework\Pricing\Helper\Data');
                    $strPrice = $objPriceHelper->currency($objProduct->getPrice(), true, false);

                    echo "<div class=\"col-sm-2 category-item\"><a href=\"/certificates/{$objProduct->getSku()}.html\">" .
                        "<span class=\"vertical-helper\"></span>" .
                        "<img src=\"{$strProductImage}\" class=\"img-responsive {$strNoImage}\" alt=\"\" />" .
                        "<span class=\"merchant-label\">{$objProduct->getName()}</span>" .
                        "</a>" .
                        "<p><small style=\"word-wrap: break-word; word-break: break-all\">Stock Left: {$intQty}<br/>Code: {$strCode}</small></p>" .
                        "<p>{$strButton}</p>" .
                        "</div>";
                }
            }
            else
            {
                echo '<div class="col-sm-12 text-center"><h2>No available certificates as of the moment. Please check again later.</h2></div>';
            }
        }
    }
    catch(Exception $objError)
    {
        echo '';
    }
?>
