<div class="daily-discount-container panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title text-center">
            <?php echo $block->getHeaderLabel(); ?>
        </h3>
    </div>

    <div class="panel-body">
        <?php if($block->getDiscountLabel()): ?>
        <h1 class="discount-label">
            <?php echo $block->getDiscountLabel(); ?>
        </h1>
        <?php endif; ?>
        <p class="lead discount-description">
            <?php echo $block->getDiscountDescription(); ?>
        </p>
    </div>
</div>