<div class="col-sm-4 clearfix box-2x2">
    <div class="panel panel-default">
        <?php if ($block->getDiscountTitle()): ?>
        <div class="panel-heading">
            <h3 class="panel-title text-center">
                <?php echo $block->getDiscountTitle(); ?>
            </h3>
        </div>
        <?php endif; ?>

        <div class="panel-body">
            <?php echo $block->getDiscountDescription(); ?>
        </div>
    </div>
</div>