<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('ulc_merchant_banner')->toHtml(); ?>
<div class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox"></div>

    <!-- Controls -->
    <a class="left carousel-control" href="#_" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#_" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
