<?php
    try
    {
        $objManager =  \Magento\Framework\App\ObjectManager::getInstance();

        $objStoreManager = $objManager->get('\Magento\Store\Model\StoreManager');

        $arrStores = $objStoreManager->getStores(false, true);

        $objMerchantStore = null;

        foreach($arrStores as $objStore)
        {
            if ($objStore->getCode() === 'merchants')
            {
                $objMerchantStore = $objStore;
            }
        }

        if ($objMerchantStore)
        {
            $objCategoryFactory = $objManager->create('\Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
            $arrCategory = $objCategoryFactory->create()
                ->addAttributeToSelect('*')
                ->setStore($objMerchantStore->getId());

            if ($arrCategory)
            {
                $maxCol = 1;
                $flagCol = $maxCol;

                foreach ($arrCategory as $objCategory)
                {
                    if ($objMerchantStore->getRootCategoryId() == $objCategory->getParentId())
                    {
                        $objProductCollection = $objManager->create('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');

                        $objProductCollection = $objProductCollection->create();
                        $objProductCollection->addStoreFilter($objMerchantStore);
                        $objProductCollection->addCategoryFilter($objCategory);
                        $objProductCollection->addAttributeToSelect([
                            'id',
                            'sku',
                            'name',
                            'image'
                        ]);

                        $arrProduct = $objProductCollection->load();

                        if ($flagCol === 0)
                        {
                            echo "</div>";
                            $flagCol = $maxCol;
                        }

                        if ($maxCol === $flagCol)
                        {
                            echo "<div class=\"row clearfix\">";
                        }

                        $flagCol--;

                        echo "<div class=\"col-sm-12\">";
                        echo "<h2 class=\"category-label\">{$objCategory->getName()}</h2>";

                        echo "<div class=\"clearfix text-center\">";

                        if ($arrProduct)
                        {
                            $strProductImageUrl = $objMerchantStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product';

                            //echo $_product->getResource()->getAttribute('c_address')->getFrontend()->getValue($_product);
                            //$address =$_product->getResource()->getAttribute('c_address')->getStoreLabel();
                            //$objProduct->getSku()
                            //$objProduct->getImage()
                            //$objProduct->getProductUrl($objProduct->getId())

                            foreach($arrProduct as $objProduct)
                            {
                                if ($objProduct->getSku() === 'membership_card') {
                                    continue;
                                }

                                $strProductImage = !$objProduct->getImage() ? $this->getViewFileUrl('images/small-logo.png') : $strProductImageUrl . $objProduct->getImage();
                                $strNoImage = !$objProduct->getImage() ? 'no-image' : '';

                                echo "<div class=\"col-sm-2 category-item\"><a href=\"/merchants/{$objProduct->getSku()}.html\">" .
                                        "<span class=\"vertical-helper\"></span>" .
                                        "<img src=\"{$strProductImage}\" class=\"img-responsive {$strNoImage}\" alt=\"\" />" .
                                        "<span class=\"merchant-label\">{$objProduct->getName()}</span>" .
                                        "</a></div>";
                            }
                        }

                        echo "</div>";
                        echo "</div>";
                    }
                }

                if ($flagCol !== 0)
                {
                    echo "</div>";
                }
            }
        }
    }
    catch(Exception $objError)
    {
        echo '';
    }
?>
