<?php
    $objManager = \Magento\Framework\App\ObjectManager::getInstance();
    $objCustomerSession = $objManager->get('Magento\Customer\Model\Session');

    $strLink = "";

    if($objCustomerSession->isLoggedIn())
    {
        $strLink = "/refer-a-friend";
    }
    else
    {
        $strLink = "/login?auth=required&refer-a-friend=1";
    }
?>
<div class="col-sm-12">
    <h2>Reward Yourself Today!</h2>
    <p>Earn More!</p>
</div>
<div class="col-sm-6">
    <p class="lead">
        <a href="<?php echo $strLink; ?>" class="btn btn-warning btn-lg">Refer a Friend</a>
    </p>
</div>
<div class="col-sm-6">
    <p class="lead">
        <a href="/partner#partner-form-page" class="btn btn-warning btn-lg">Refer a Merchant</a>
    </p>
</div>