<?php

    $objVideoHighlight = [];
    $arrVideos = [];
    $arrChunkVideos = [];

    try
    {
        if (!isset($_GET['sku']))
        {
            $_GET['sku'] = $block->getVideoHighlight();
        }

        if (isset($_GET['sku']))
        {
            $objManager =  \Magento\Framework\App\ObjectManager::getInstance();

            $objProductModel = $objManager->create('Magento\Catalog\Model\Product');

            $objProduct = $objProductModel->load($objProductModel->getIdBySku($_GET['sku']));

            // @TODO: if has $_GET sku and promotion = 1, load all videos
            // else show only hero video

            $arrProductMedia = $objProduct->getMediaGalleryImages();

            if ($arrProductMedia)
            {
                /**
                 *
                 * $arrProductMedia
                 * - media_type
                 * - entity_id
                 * - label (caption)
                 * - position
                 * - disabled
                 * - video_url
                 * - video_title
                 * - video_description
                 * - video_metadata
                 * - large_image_url (for image media type)
                 * - medium_image_url (for image media type)
                 * - small_image_url (for image media type)
                 * - url (image of external-video media type)
                 *
                 * */
                foreach ($arrProductMedia as $objMedia)
                {
                    if ($objMedia->getMediaType() != "external-video")
                    {
                        continue;
                    }

                    if ($objMedia->getFile() == $objProduct->getVideoHighlight())
                    {
                        $objVideoHighlight = [
                            'videoUrl' => $objMedia->getVideoUrl()
                        ];
                    }

                    $arrVideos[] = [
                        'videoUrl' => $objMedia->getVideoUrl(),
                        'image' => $objMedia->getUrl(),
                        'title' => $objMedia->getVideoTitle()
                    ];
                }

                $arrChunkVideos = array_chunk($arrVideos, 3);
            }
        }
    }
    catch (\Exception $objError)
    {
//        echo $objError->getMessage();
    }

?>

<?php if($objVideoHighlight): ?>
<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" id="video-promotion" src="<?php echo $objVideoHighlight['videoUrl']; ?>?autoplay=1&rel=0"></iframe>
</div>
<?php endif; ?>

<?php if(isset($_GET['promotion'])): ?>
    <hr class="invisible"/>

    <div class="container">
        <div class="row-fluid">
            <?php foreach ($arrChunkVideos as $videos): ?>
                <div class="row">
                    <?php foreach ($videos as $video): ?>
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="<?php echo $video['image']; ?>"
                                     promotion-link="<?php echo $video['videoUrl']; ?>?autoplay=1&rel=0"
                                     class="img-responsive video-promotion-linker"
                                     alt="<?php echo $video['title']; ?>"/>
                            </div>
                        </div>
                    <?php endforeach;?>
                </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>

<script>
    (function() {
       var imgLink = document.querySelectorAll('.video-promotion-linker');

       for (var key in imgLink) {
           imgLink[key].onclick = function() {
               var promotionLink = this.getAttribute('promotion-link');

               document.getElementById('video-promotion').setAttribute('src', promotionLink);
               document.getElementById('video-promotion').scrollIntoView();
           };
       }
    })()
</script>
