<footer class="container-fluid">
    <div class="container">
        <div class="col-sm-12">
            <ul class="list-unstyled ulc-footer-left-content">
                <li>
                    <p>
                        <small class="copyright">
                            <span><?php echo $block->getCopyright(); ?></span>
                        </small>
                    </p>
                </li>
                <?php /*
                <!--<li>
                    <ul class="nav nav-pills nav-justified">
                        <li>
                            <a href="http://www.theultimatelifestylecard.com/exclusive-offers">Exclusive Offers</a>
                        </li>
                        <li>
                            <a href="http://www.theultimatelifestylecard.com/contact-us">Service</a>
                        </li>
                        <li>
                            <a href="http://www.theultimatelifestylecard.com/partner-with-us">Partner with us</a>
                        </li>
                        <li>
                            <a href="http://www.theultimatelifestylecard.com/careers">Careers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Connect:</p>
                    <ul class="list-unstyled list-inline">
                        <li>
                            <img src="<?php echo $this->getViewFileUrl('images/footer_fb.jpg'); ?>" alt="" />
                        </li>
                        <li>
                            <img src="<?php echo $this->getViewFileUrl('images/footer_tw.jpg'); ?>" alt="" />
                        </li>
                        <li>
                            <img src="<?php echo $this->getViewFileUrl('images/footer_gp.jpg'); ?>" alt="" />
                        </li>
                        <li>
                            <img src="<?php echo $this->getViewFileUrl('images/footer_ig.jpg'); ?>" alt="" />
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="col-sm-12">
                        <h4><?php echo $block->getBlockHtml('ulc_store_name'); ?></h4>
                        <br/>
                    </div>
                    <div class="col-sm-6">
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer.company.address')->toHtml(); ?>
                    </div>
                    <div class="col-sm-6">
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer.company.contact')->toHtml(); ?>
                    </div>
                </li>-->
                */ ?>
            </ul>
        </div>
        <?php /*
        <!--<div class="hidden-sm col-md-4">
            <div class="embed-responsive embed-responsive-4by3 ulc-fb-iframe">
                <iframe class="embed-responsive-item" src="https://www.facebook.com/v2.9/plugins/page.php?adapt_container_width=true&app_id=&channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F0sTQzbapM8j.js%3Fversion%3D42%23cb%3Df239aba388854b%26domain%3Dtheultimatelifestylecard.com%26origin%3Dhttp%253A%252F%252Ftheultimatelifestylecard.com%252Ff2ed5990229294%26relation%3Dparent.parent&container_width=0&height=340&hide_cover=false&href=https%3A%2F%2Fwww.facebook.com%2Fllionemint&locale=en_US&sdk=joey&show_facepile=false&small_header=true&tabs=timeline" frameborder="0"></iframe>
            </div>
        </div>-->
        */ ?>
    </div>
</footer>

<div class="modal-backdrop fade" id="modal-login-backdrop"></div>
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Merchant Login</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="merchant-username" class="col-sm-3 control-label">Username</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="merchant-username" placeholder="Enter your Username">
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <label for="merchant-password" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input type="password" class="form-control" id="merchant-password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;">
                                <span class="input-group-addon" id="toggle-see-password">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <span style="display: inline-block; vertical-align: middle">
                                <span id="show-login-loader" class="hidden">
                                    <img src="<?php echo $this->getViewFileUrl('images/preloader.gif'); ?>" alt="" class="img-responsive"/>
                                </span>
                            </span>
                            <button type="button" id="btn-merchant-login" class="btn btn-success">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- CUSTOMER CHANGE PASSWORD MODAL -->
<div class="modal-backdrop fade" id="modal-customer-change-password-backdrop"></div>
<div class="modal fade" id="modal-customer-change-password" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="modal-customer-change-password-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="customer-current-password" class="col-sm-3 control-label">Current Password</label>
                        <div class="col-sm-7">
                            <input type="password"
                                   class="form-control"
                                   id="customer-current-password"
                                   placeholder="Enter your Current Password" />
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <label for="customer-new-password" class="col-sm-3 control-label">New Password</label>
                        <div class="col-sm-7">
                            <input type="password"
                                   class="form-control"
                                   id="customer-new-password"
                                   placeholder="Enter your New Password" />
                            <small class="help-block text-info">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                Password should be at least 8 characters including 3 letters with at least 1 capital letter and has number(s).
                            </small>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <label for="customer-confirm-password" class="col-sm-3 control-label">Confirm Password</label>
                        <div class="col-sm-7">
                            <input type="password"
                                   class="form-control"
                                   id="customer-confirm-password"
                                   placeholder="Repeat your New Password" />
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <span style="display: inline-block; vertical-align: middle">
                                <span id="show-change-password-loader" class="hidden">
                                    <img src="<?php echo $this->getViewFileUrl('images/preloader.gif'); ?>" alt="" class="img-responsive"/>
                                </span>
                            </span>
                            <button type="button" id="btn-customer-change-password" class="btn btn-success">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="page-loader" class="hidden">
    <div class="modal-backdrop fade in"></div>
    <div class="modal fade in show" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <hr class="invisible"/>
                    <p class="text-center">
                        <img src="<?php echo $this->getViewFileUrl('images/preloader.gif'); ?>"
                             alt=""
                             class="img-responsive center-block"/>
                        <br/>
                        <small>Loading please wait...</small>
                    </p>
                    <hr class="invisible"/>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<?php
    $arrUrl = explode("/", $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]));

    $strLastSlug = array_pop($arrUrl);
?>

<?php if ($strLastSlug === 'merchant-dashboard-form'): ?>
    <input type="hidden" id="merchant-dashboard-redirect" value="/merchant-dashboard-form"/>
<?php else: ?>
    <input type="hidden" id="merchant-dashboard-redirect" value="/merchant-dashboard"/>
<?php endif; ?>