<?php
    /**
     * Add in default.xml
     *
     * <block class="Magento\Framework\View\Element\Template" name="test_block" template="Magento_Theme::html/test/test.phtml"/>
     *
     * Sample dynamic var can be used in static pages
     * {{block class="Magento\Framework\View\Element\Template" custom_var_code="test_var" template="..."}}
     * */
    try
    {
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

        $objVariable = $objectManager->create('Magento\Variable\Model\VariableFactory');

        $variable = $objVariable->create();

        echo $variable->loadByCode('test_var')->getValue('text');
        echo '<hr/>';
        echo $variable->loadByCode('test_var')->getValue('html');
    }
    catch(Exception $objError)
    {
        echo '';
    }
?>
