<?php
    /** @var \Magento\Framework\App\ObjectManager $objManager */
    $objManager = \Magento\Framework\App\ObjectManager::getInstance();

    /** @var \Magento\Framework\App\Http\Context $objContext */
    $objContext = $objManager->get('Magento\Framework\App\Http\Context');

    /** @var bool $bolCustomerLoggedIn */
    $bolCustomerLoggedIn = $objContext->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH);
?>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="main-nav">
            <div class="row-fluid clearfix">
                <div class="navbar-header">
                    <a class="navbar-brand" href="<?php echo $block->getUrl('') ?: 'http://www.theultimatelifestylecard.com'; ?>">
                        <img src="<?php /* @escapeNotVerified */ echo $block->getLogoSrc() ? : $this->getViewFileUrl('images/logo.png') ?>"
                             alt="<?php /* @escapeNotVerified */ echo $block->getLogoAlt() ?>"
                             class="img-responsive"
                        />
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                    <li><a href="http://www.theultimatelifestylecard.com/partner-with-us">Partner with Us</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/how-to-save-money">How to Save Money</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/help">Help</a></li>
                    <?php if ($bolCustomerLoggedIn): ?>
                        <li><a href="/customer-dashboard">Order History</a></li>
                        <li><a id="open-change-password" href="#">Change Password</a></li>
                        <li><a data-btn-customer-logout="" href="#">Logout</a></li>
                    <?php elseif (!isset($_SESSION['ulc_admin_sess_user_context_id'])): ?>
                        <li><a href="/become-a-member">Become a Member</a></li>
                        <li><a href="/become-a-distributor">Become a Distributor</a></li>
                        <li><a href="/customer/account/login">Members Login</a></li>
                        <li><a data-open-merchant-login="" href="#">Merchant Login</a></li>
                    <?php else: ?>
                        <li><a id="btn-merchant-logout" href="#">Logout</a></li>
                        <li class="hide-element"><a data-open-merchant-login="" href="#">Merchant Login</a></li>
                    <?php endif; ?>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="sub-nav">
            <div class="row-fluid">
                <ul class="nav nav-pills nav-justified" id="desktop-nav">
                    <li><a href="http://www.theultimatelifestylecard.com/home">Home</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/about">About</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/priviledges">Privileges</a></li>
                    <!--<li><a href="/exclusive-offers">Exclusive Offers</a></li>-->
                    <li><a href="/events">Videos</a></li>
                    <li><a href="/our-merchants">Our Merchants</a></li>
                    <li><a href="/merchant-certificates">Certificates</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/careers">Careers</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/news">News</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/contact-us">Contact Us</a></li>
                    <li><a href="/products">Products</a></li>
                </ul>

                <div class="row-fluid" id="toggle-nav-container">
                    <button type="button" class="btn-warning btn center-block" id="toggle-nav-menu">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>

                <ul class="nav nav-pills nav-justified" id="mobile-nav">
                    <li><a href="http://www.theultimatelifestylecard.com/home">Home</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/about">About</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/priviledges">Privileges</a></li>
                    <!--<li><a href="/exclusive-offers">Exclusive Offers</a></li>-->
                    <li><a href="/events">Videos</a></li>
                    <li><a href="/our-merchants">Our Merchants</a></li>
                    <li><a href="/merchant-certificates">Certificates</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/news">News</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/careers">Careers</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/help">Help</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/partner-with-us">Partner with Us</a></li>
                    <li><a href="http://www.theultimatelifestylecard.com/how-to-save-money">How to Save Money</a></li>
                    <?php if ($bolCustomerLoggedIn): ?>
                        <li><a href="/customer-dashboard">Order History</a></li>
                        <li><a id="open-mobile-change-password" href="#">Change Password</a></li>
                        <li><a data-btn-customer-logout="" href="#">Logout</a></li>
                    <?php elseif (!isset($_SESSION['ulc_admin_sess_user_context_id'])): ?>
                        <li><a href="/become-a-member">Become a Member</a></li>
                        <li><a href="/become-a-distributor">Become a Distributor</a></li>
                        <li><a href="/customer/account/login">Members Login</a></li>
                        <li><a data-open-merchant-login="" href="#">Merchant Login</a></li>
                    <?php else: ?>
                        <li><a id="btn-mobile-merchant-logout" href="#">Logout</a></li>
                        <li class="hide-element"><a data-open-merchant-login="" href="#">Merchant Login</a></li>
                    <?php endif; ?>
                    <li><a href="http://www.theultimatelifestylecard.com/contact-us">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
