[carousel-caption] .carousel-caption {
    bottom: 30%;
    font-size: 18px;
}

[carousel-caption] .carousel-caption h1,
[carousel-caption] .carousel-caption p {
    margin-bottom: 20px;
}

[carousel-caption] .carousel-caption a {
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
}

[carousel-caption] .carousel-inner .item .item-bg {
    background-size: contain !important;
    max-height: 500px !important;
    min-height: 500px !important;
}