#modal-customer-change-password-backdrop,
#modal-customer-change-password {
    display: none;
}

#modal-customer-change-password-backdrop.in,
#modal-customer-change-password.in {
    display: block;
}