#become-a-distributor-page .partner-group {
    display: none;
}

#become-a-distributor-page .banner-distributor {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
}

#become-a-distributor-page .distributor-partner-group {
    display: block;
}