footer {
    background: #000;
    color: #7F7F76;
    padding: 10px 0 5px;
    text-align: center;
}

.ulc-fb-iframe {
    padding-bottom: 100%;
}

footer a {
    color: #7f7f7f;
}

footer a:hover,
footer a:focus {
    color: #f7f7f7;
    text-decoration: none;
}

.ulc-footer-left-content > li {
    padding-bottom: 20px;
    border-bottom: solid 1px #7f7f7f;
    margin-bottom: 20px;
}

.ulc-footer-left-content > li:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}

.ulc-footer-left-content .nav-pills > li > a {
    padding: 0;
}

.ulc-footer-left-content .nav-pills > li > a:hover,
.ulc-footer-left-content .nav-pills > li > a:focus {
    background-color: inherit;
}

#modal-login-backdrop,
#modal-login {
    display: none;
}

#modal-login-backdrop.in,
#modal-login.in {
    display: block;
}