#howto-page .banner {
    position: absolute;
    top: -140px;
    width: 100%;
}

#howto-page .banner-container {
    max-height: 600px;
    min-height: 600px;
    overflow: hidden;
    position: relative;
}

#howto-page .banner-label-container {
    padding-top: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

#howto-page .banner-label {
    color: #fff;
    font-size: 42px;
    text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
}

#howto-page .step-wrapper {
    margin: 280px auto;
}

#howto-page .step-wrapper > li {
    vertical-align: middle;
}

#howto-page .step-container {
    background-color: rgba(150, 150, 150, 0.6);
    color: #fff;
    max-width: 250px;
    min-height: 150px;
    min-width: 250px;
}

#howto-page .step-badge {
    background-color: #faa71a;
    border-radius: 4em;
    color: #f7f7f7;
    display: inline-block;
    margin-top: -30px;
    padding: 10px 18px;
    text-align: center;
}

#howto-page .step-label {
    font-size: 18px;
    line-height: 1.5;
    padding: 0 20px;
}