#become-a-member-option-page .banner-membership,
#become-a-member-page .banner-membership,
#become-a-member-form-page .banner-membership {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
}

.distributor-partner-group {
    display: none;
}