#merchant-page-view {
    background-color: #fff;
    color: #7a7a7a;
    margin-top: 20px;
}

#merchant-page-view .page-divider {
    border-bottom: solid 3px #b87308;
    margin-bottom: 40px;
}

#merchant-page-view .container {
    padding: 0 80px;
}

#merchant-page-view .heading {
    background-color: #fcde8a;
    color: #b67308;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 29px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}

#merchant-page-view .box-2x2,
#merchant-page-view .box-3x3,
#merchant-page-view .box-6x6 {
    padding-left: 7px;
    padding-right: 7px;
}

#merchant-page-view .panel {
    border: 0;
    border-radius: 0;
}

#merchant-page-view .panel-heading {
    background-color: #b67308;
    border-radius: 0;
    color: #fff;
}

#merchant-page-view .panel-title {
    font-size: 17px;
    font-weight: 600;
}

#merchant-page-view .panel-body {
    background-color: #f5f5f5;
    font-size: 10px;
    max-height: 90px;
    min-height: 90px;
    overflow-y: auto;
    padding: 5px 10px 15px;
    text-align: center;
}

#merchant-page-view .name-info {
    color: #b87408;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 37px;
    font-weight: 600;
    line-height: 2em;
}

#merchant-page-view .description-info,
#merchant-page-view .contact-info,
#merchant-page-view .store-hours {
    line-height: 1.8;
}

#merchant-page-view .short-description-info,
#merchant-page-view .short-description-info span
{
    color: #7a7a7a;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
}

#merchant-page-view h1,
#merchant-page-view h2,
#merchant-page-view h3,
#merchant-page-view h4,
#merchant-page-view h5,
#merchant-page-view h6 {
    margin-top: 0;
}

#merchant-page-view .daily-discount-container {
    display: inline-block;
    margin: 0 5px 20px;
    max-width: 138px;
    vertical-align: top;
}

#merchant-page-view .daily-discount-container .panel-title {
    font-size: 20px;
    padding: 10px 0;
}

#merchant-page-view .daily-discount-container .panel-body {
    max-height: 100%;
    padding: 30px 5px;
}

.daily-discount-container .panel-body .discount-label {
    color: #444;
    font-weight: 600;
}

.daily-discount-container .panel-body .discount-description {
    font-size: 14px;
}