#merchant-dashboard-page {
    margin-top: 40px;
}

#merchant-dashboard-page .tab-item {
    display: none;
    padding: 20px;
}

#merchant-dashboard-page .tab-item.active {
    display: block;
}

#sales-report .table tr td,
#sales-report .table tr th {
    padding: 10px 5px;
}

#certificate-list .thumbnail {
    background: none;
    border: 0;
}

#certificate-list .btn-redeem-certificate {
    margin: 0 10px;
}

#modal-certificate-backdrop,
#modal-certificate {
    display: none;
}

#modal-certificate-backdrop.in,
#modal-certificate.in {
    display: block;
}