#merchant-page {
    background-color: #fff;
    margin-top: 10px;
    padding-bottom: 20px;
}

#merchant-page .heading {
    font-size: 36px;
    margin-bottom: 10px;
    padding-top: 25px;
}

#merchant-page .sub-heading {
    background-color: #fcde8a;
    color: #b67308;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    line-height: 2.2;
    text-align: center;
}

#merchant-page .category-label {
    background-color: #f9f9f9;
    color: #b67308;
    font-size: 18px;
    line-height: 1.7;
    margin: -10px 0 15px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

#merchant-page .category-item {
    display: inline-block;
    float: none;
    margin-bottom: 50px;
    margin-right: 4px;
    max-width: 180px;
    min-height: 190px;
    min-width: 180px;
    padding-left: 0;
    text-align: center;
    vertical-align: top;
}

#merchant-page .category-item .vertical-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#merchant-page .category-item a {
    display: inline-block;
    height: 166px;
    max-height: 166px;
    max-width: 166px;
    min-height: 166px;
    white-space: nowrap;
}

#merchant-page .category-item img {
    display: inline-block;
    max-height: 166px;
    max-width: 166px;
    text-align: center;
    vertical-align: middle;
}

#merchant-page .category-item .merchant-label {
    display: block;
    margin-top: 30px;
    white-space: normal;
}

#merchant-page .category-item img.no-image {
    margin: 68px auto;
    max-width: 80px;
    min-width: 80px;
    min-height: 30px;
}

#merchant-page .carousel-inner .item div {
    background-position: center center !important;
}

#merchant-page .carousel-inner .item div,
#merchant-page .carousel-inner .item {
    height: 373px;
    min-height: 373px !important;
}

#merchant-certificates-page .carousel-inner .item div,
#merchant-certificates-page .carousel-inner .item {
    height: 100% !important;
    min-height: 700px !important;
}

@media (max-width: 1000px) {
    #merchant-page .carousel-inner .item div,
    #merchant-page .carousel-inner .item {
        height: 307px;
        min-height: 307px !important;
    }
}

@media (max-width: 700px) {
    #merchant-page .carousel-inner .item div,
    #merchant-page .carousel-inner .item {
        height: 134px;
        min-height: 134px !important;
    }
}