@media (max-width: 768px) {
    .navbar-header {
        display: inline-block;
    }

    .main-nav .ulc-login-link {
        color: #7f7f7f;
        font-size: 16px;
        font-weight: 600;
    }

    .navbar-default .sub-nav .container {
        overflow-x: auto;
        white-space: nowrap;
    }
}