.navbar {
    background-color: #000;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .nav.nav-pills {
    display: block;
}

.navbar .container-fluid .navbar-brand {
    margin: -5px 0 0 0;
    max-width: 300px;
    padding: 0;
}

.navbar-right {
    margin-right: 0;
}

.navbar .navbar-nav > li:last-child > a {
    border-right: 0;
    padding-right: 10px;
}

.navbar .navbar-nav > li > a {
    color: #7f7f7f;
    padding: 0 15px;
    margin: 15px 0;
    font-size: 13px;
}

.navbar .navbar-nav > li:hover {
    cursor: pointer;
}

.sub-nav .nav > li:hover:after,
.navbar .navbar-nav > li:hover:after {
    background: #b67308;
    bottom: -14px;
    content: " ";
    min-height: 5px;
    position: absolute;
    width: 100%;
}

.navbar .navbar-nav > li:hover a {
    color: #faa71a;
}

.main-nav {
    padding: 14px 0;
}

.sub-nav {
    background-color: #faa71a;
    margin: 0 -15px;
}

.sub-nav .nav-pills {
    padding: 8px 0;
}

.sub-nav .nav > li > a {
    color: #000;
    font-size: 13px;
    padding: 5px;
}

.sub-nav .nav > li:hover:after {
    bottom: -8px;
}

.sub-nav .nav > li > a:hover,
.sub-nav .nav > li > a:focus {
    background-color: inherit;
}

#desktop-nav {
    display: block;
}

#mobile-nav,
#toggle-nav-menu,
#toggle-nav-menu .glyphicon {
    display: none;
}

#toggle-nav-menu {
    background-color: #ec971f;
    border-color: #d58512;
    color: #000;
}

#toggle-nav-menu:hover {
    color: #f7f7f7;
}

@media (max-width: 1005px) {
    #toggle-nav-container {
        padding: 5px;
    }

    .navbar-header {
        width: 100%;
    }

    .navbar .container-fluid .navbar-brand {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #desktop-nav {
        display: none;
    }

    #toggle-nav-menu,
    #toggle-nav-menu .glyphicon.glyphicon-menu-hamburger {
        display: block;
    }

    .navbar-default .sub-nav .nav {
        width: 100% !important;
    }

    .sub-nav .nav > li {
        display: block;
        width: 100%;
    }

    .sub-nav .nav > li:hover:after {
        display: none;
    }

    .sub-nav .nav > li > a:hover {
        background-color: #b67308;
        color: #f7f7f7;
    }
}