#partner-page .banner {
    width: 100%;
}

#partner-page .banner-container {
    position: relative;
}

#partner-page .banner-label-container {
    padding: 175px 0 0 80px;
    position: absolute;
    top: 0;
}

#partner-page .banner-label {
    color: #fff;
    font-size: 52px;
    text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
}