#privilege-page .banner {
    width: 100%;
}

.priviledge-footer {
    color: #f7f7f7;
    overflow: hidden;
    position: relative;
}

.bg-priv-container-footer {
    background-color: rgba(0,0,0,1);
    position: absolute;
}

.bg-priv-footer {
    opacity: .45;
    width: 100%;
}

#privilege-page .priviledge-footer .container {
    margin-bottom: 15px;
}