#product-page {
    background: #fff;
    min-height: 500px;
}

#product-page .product-item {
    display: inline-block;
    float: none;
    margin-bottom: 50px;
    margin-right: 0;
    max-height: 340px;
    min-height: 190px;
    min-width: 180px;
    padding-left: 0;
    text-align: center;
    vertical-align: top;
}

#product-page .product-item .image-container {
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #bbb;
    margin: 7px;
    min-height: 250px;
}

#product-page .product-item a {
    display: block;
    padding: 0 7px;
    white-space: nowrap;
}

#product-page .product-item img {
    display: inline-block;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 190px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#product-page .product-item .product-label {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

#product-page .product-item img.no-image {
    margin: 68px auto;
    max-width: 80px;
    min-width: 80px;
    min-height: 30px;
}

#product-page .product-misc {
    padding: 0 7px;
    text-align: left;
}

#product-page .carousel-inner .item.active,
#product-page .carousel-inner .item,
#product-page .carousel-inner .item.active div,
#product-page .carousel-inner .item div {
    min-height: 350px !important;
}

#product-page .name-info {
    font-size: 18px !important;
}

#product-page .breadcrumb {
    margin-bottom: 0;
}

#product-page .breadcrumb .name-info {
    display: inline-block;
    font-size: inherit !important;
    font-weight: 400;
    text-transform: capitalize;
}

#product-page .breadcrumb {
    background-color: #fcde8a;
}

#product-page .breadcrumb a {
    color: #b67308;
    text-decoration: none;
    text-transform: capitalize;
}

#product-page .tab-container {
    display: none;
}
#product-page .tab-container.active {
    display: block;
}
#product-page .product-price {
    font-size: 24px;
}
#product-page .short-description-info {
    min-height: 200px;
}
#product-page .short-desc-container {
    padding: 30px 0 0 20px;
}

#product-page.product-view-info-page h3.heading {
    background-color: #eee;
}

#product-page.product-view-info-page h3.heading .attribute name-info {
    color: #777;
}

/* category list */
#product-page .category-image {
    height: 100%;
    min-height: 170px;
    width: 100%;
}

#product-page .thumbnail.category-container {
    background: transparent;
    border: 0;
}

#product-page .sub-heading.category-view {
    background-color: #fcde8a;
    color: #b67308;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    line-height: 2.2;
    text-align: center;
}