.gallery-container img {
    max-height: 130px;
    min-height: 130px;
    max-width: 130px;
    width: 100%;
}


.simple-gallery-overlay {
    background-color: rgba(0,0,0,.8);
    clear: both;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.overlay-close-btn {
    background: transparent;
    border: solid 1px;
    border-radius: 4em;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 600;
    margin: 8px 5px;
    padding: .1em .55em;
    position: absolute;
    right: 0;
    z-index: 11;
}

.simple-gallery-content {
    padding: 4em 0 0;
    position: relative;
}

.simple-gallery-overlay .btn-gallery-next,
.simple-gallery-overlay .btn-gallery-prev {
    margin: 0 -30px;
    padding: 200px 10px;
}

.gallery-inner-container img {
    height: inherit;
    margin: auto;
    max-height: 650px;
    max-width: 800px;
    width: auto;
}

.placeholder.ready {
    display: block;
}

.btn-gallery-prev:hover,
.btn-gallery-prev:focus,
.btn-gallery-prev:active,
.btn-gallery-next:hover,
.btn-gallery-next:focus,
.btn-gallery-next:active {
    color: #b67308;
    outline: none;
}

.btn-gallery-prev,
.btn-gallery-next {
    color: #fccd4b;
    font-size: 3em;
    padding: 60px 10px;
}

.placeholder.no-paging .left-action button,
.placeholder.no-paging .right-action button {
    display: none;
}

.simple-gallery-overlay .left-action {
    padding-left: 4em;
    text-align: left;
}

.simple-gallery-overlay .right-action {
    padding-right: 4em;
    text-align: right;
}

.simple-img-gallery {
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 10px 0;
    max-height: 130px;
    max-width: 130px;
    min-height: 130px;
}

@media (max-width: 1200px) {
    .simple-gallery-overlay .btn-gallery-next,
    .simple-gallery-overlay .btn-gallery-prev {
        padding: 160px 10px;
    }
}

@media (max-width: 920px) {
    .simple-gallery-overlay .btn-gallery-next,
    .simple-gallery-overlay .btn-gallery-prev {
        padding: 120px 10px;
    }
}

@media (max-width: 767px) {
    .simple-gallery-overlay .btn-gallery-next,
    .simple-gallery-overlay .btn-gallery-prev {
        padding: 60px 10px;
    }

    .simple-gallery-overlay .left-action {
        padding-left: 0;
    }

    .simple-gallery-overlay .right-action {
        padding-right: 0;
    }
}