body,html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.page-header {
    margin: 0;
    padding-bottom: 0;
}

.page-wrapper {
    background-color: #FFFFAC !important;
    background: -webkit-gradient(linear, center top, center bottom, from(#FFFFAC), color-stop(100%, #FFFFFF)) !important;
    background: -webkit-linear-gradient(top, #FFFFAC ,#FFFFFF 100%) !important;
    background: linear-gradient(to bottom, #FFFFAC ,#FFFFFF 100%) !important;
}

#maincontent {
    margin-top: -21px;
    padding: 0;
}

h2.heading {
    color: #b87408;
    font-family: Allura, cursive, Helvetica, Arial, sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
    word-spacing: 4px;
}

.lead {
    font-size: 18px;
}

.merchant-logos p {
    display: inline-block;
    margin: 20px 0 20px 65px;
    max-width: 200px;
    min-width: 200px;
    width: 100%;
}

.merchant-logos img {
    display: inline-block;
    max-height: 140px;
    max-width: 200px;
    vertical-align: middle;
    width: 100%;
}

#welcome-page {
    background-color: #000;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

#welcome-page a {
    color: #f7f7f7;
}

#welcome-page .banner {
    max-height: 450px;
    width: 100%;
}

.hide-element {
    position: absolute !important;
    left: -9999px;
    top: -9999px;
}