@media (min-width: 768px) and (max-width: 991px) {
    .navbar-default .sub-nav .container {
        overflow-x: auto;
        white-space: nowrap;
    }

    .navbar-default .sub-nav .nav-pills {
        display: inline-block;
        margin: 0 0 0 5px;
        width: auto;
    }
}