#videos-page {
    background-color: #fff;
    margin-top: 20px;
}

#videos-page .heading {
    font-size: 30px;
}

#videos-page .merchant-partners {
    max-height: 155px;
    min-height: 155px;
}

#videos-page .carousel-control {
    width: 5%;
}
#videos-page .left.carousel-control {
    margin-left: -60px
}
#videos-page .right.carousel-control {
    margin-right: -60px
}
#videos-page .carousel-inner .thumbnail {
    border: 0;
}

#videos-page .video-promotion-linker {
    cursor: pointer;
    max-height: 202px;
    min-height: 202px;
    min-width: 350px;
}