<!--@subject {{trans "Welcome New Distributor"}}  @-->

<p style="text-align: center;"><img src="https://s3-ap-southeast-1.amazonaws.com/shopeezoid/ulc/ulc_header.png" alt="" width="1049" height="464" /></p>
<p style="text-align: center;"><strong><img src="https://s3-ap-southeast-1.amazonaws.com/shopeezoid/ulc/ulc_logo.png" alt="ulc logo" width="533" height="235" /></strong></p>
<p><strong>Welcome to The Ultimate Lifestyle Card</strong></p>
<p>&nbsp;</p>
<p>It is our pleasure to welcome you as a The Ultimate Lifestyle Card distributor. &nbsp;</p>
<p>To sign in to our site, use these credentials and change your password in My Account page</p>
<p>&nbsp;</p>
<p>Username: {{trans "%email" email=$data.email}}</p>
<p>Password: {{trans "%password" password=$data.password}}</p>
<p>&nbsp;</p>
<p><strong>Contact Customer Service</strong></p>
<p>As part of our commitment to provide an exceptional level of service, if you have any questions please contact us at your convenience:</p>
<table width="866">
    <tbody>
    <tr>
        <td width="198">&nbsp;</td>
        <td width="668">
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="866">
            <p>&nbsp;<strong>Customers&rsquo; Service Hotlines&nbsp; </strong>&nbsp;&nbsp;(63)(2)-777-2992</p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (63)945-124-4747</p>
        </td>
    </tr>
    <tr>
        <td width="198">
            <p><strong>Working Hours</strong></p>
        </td>
        <td width="668">
            <p>Mon-Fri: 9AM-6PM</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="866">
            <p>&nbsp;</p>
            <p><strong>Office Address:</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;911 Philippine &nbsp;AXA Life Centre, Tindalo Street, Brgy San Antonio, Sen Gil &nbsp;&nbsp;Puyat Avenue , Makati City</p>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td width="198">
            <p><strong>Membership Website: </strong></p>
        </td>
        <td width="668">
            <p><a href="http://www.theultimatelifestylecard.com">www.theultimatelifestylecard.com</a></p>
        </td>
    </tr>
    <tr>
        <td width="198">&nbsp;</td>
        <td width="668">&nbsp;</td>
    </tr>
    <tr>
        <td width="198">
            <p><strong>Membership Email Enquiries&nbsp; </strong></p>
        </td>
        <td width="668">
            <p><a href="mailto:enquiry@theultimatelifestylecard.com">enquiry@theultimatelifestylecard.com</a></p>
        </td>
    </tr>
    </tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Referring a Merchant or Friend</strong></p>
<p>&nbsp;</p>
<p>With our Infinite List of Merchant Partners, we make sure that every aspect of your lifestyle will be covered and by not putting any limitation to our categories your membership needs will increase, without compromising the quality of lifestyle that you enjoy.</p>
<p>Therefore, we want all our members to also participate in their choices, so we encourage our members to refer/ recommend your favorite merchants, place to go, venues and even products; and we will do our best to try and make them part of The Ultimate Lifestyle Card.</p>
<p>&nbsp;</p>
<p><strong>Enjoy and Earn </strong></p>
<p>Become a Reseller</p>
<p>The Ultimate Lifestyle Card is also looking for entrepreneurial mindset people like you. Contact us today so you can see how you can earn and enjoy at the same time.</p>
<p>For feedback and suggestions, kindly send us message so we can improve our services.</p>
<p>Remember, this is Your Membership Card not Ours, and it is Designed for You and Not Us.</p>
<p>&nbsp;</p>
<p>Kind regards,</p>
<p>The Ultimate Lifestyle Card</p>
<p>&nbsp;</p>
<p><strong>Enjoy your Infinity of Choices and Start living your Life today!<strong></p>